
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/admin_ServiceRequest.css" />
    <link rel="shortcut icon" href="~/image/home/favicon.ico" type="image/x-icon" />
    <title>Admin Service Request</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid ">
                <div class="d-flex align-items-center">
                    <div class="mobileNavIcon">
                        <button class="navbar-toggler"> <span></span> <span></span> <span></span> </button>
                    </div>
                    <h1 class="text-white">helperland</h1>
                </div>
                <div class="d-flex align-items-center admin-detail"> <img class="mx-1" src="~/image/upcoming_service/user.svg" alt="userIcon" /> <span class="text-white mx-1">@ViewBag.UserName</span><a asp-controller="Account" asp-action="Logout"><img class="mx-1" src="~/image/admin_UserManagement/logout.png" /> </a> </div>
            </div>
        </nav>
    </header>
    <section class="main">
        <div class="container-fluid dashboard">
            <div class="d-flex" id="wrapper">
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <div class="closebtn d-none">
                        <img src="~/image/home/times-solid.svg" alt="close">
                        <br>
                        <hr>
                    </div>
                    <ul>
                        <li><a asp-controller="Admin" asp-action="ServiceRequest" class="active">Service Requests</a></li>
                        <li><a asp-controller="Admin" asp-action="UserManagement">User Management</a></li>
                    </ul>
                </div>
                <!-- /#sidebar-wrapper -->
                <div class="loader-div d-none">
                    <div class="sk-chase">
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                    </div>
                </div>
                <div class="modal fade" id="displaydataModal" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Service Details</h4>
                                <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                            </div>
                            <div class="modal-body">
                                <div id="SerSummaryDetails">
                                    <p class="date-time"><span id="SerDate"></span> <span id="SerStartTime"></span>-<span id="SerEndTime"></span></p>
                                    <span class="title-text"><b>Duration : </b><span id="SerDuration"></span> Hrs</span>
                                    <hr />
                                    <span class="title-text"><b>Service Id : </b><span id="SerId"></span></span>
                                    <span class="title-text"><b>Extras :  </b><span id="SerExtra"></span></span>
                                    <span class="title-text"><b>Net Amout : </b><span id="SerPayment" class="NetAmount"></span></span>
                                    <hr />
                                    <span class="title-text"><b>Service Address : </b><span id="SerAddress"></span></span>
                                    <span class="title-text"><b>Billing Address : </b>Same as cleaning Address</span>
                                    <span class="title-text"><b>Phone : </b><span id="SerMobile"></span></span>
                                    <span class="title-text"><b>Email : </b><span id="SerEmail"></span></span>
                                    <hr />
                                    <span class="title-text"><b>Comments : </b><span id="SerComment"></span></span>
                                    <span class="title-text"><span id="SerPets"></span></span>
                                    <hr />
                                </div>
                                <div id="spDetails">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="EditRescheduleModel" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Service Request</h4>
                                <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <input type="text" class="d-none" id="serviceIdForReschedule" />
                                    <div id="RescheduleErrAlert"></div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="field-heading">Date</label>
                                                <div class="input-group">
                                                    <input class="form-control" id="RescheduleDate" name="date" placeholder="From Date" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="field-heading">Time</label>
                                                <select class="form-control" id="rescheduleTime">
                                                    <option value="08:00">08:00 AM</option>
                                                    <option value="08:30">08:30 AM</option>
                                                    <option value="09:00">09:00 AM</option>
                                                    <option value="09:30">09:30 AM</option>
                                                    <option value="10:00">10:00 AM</option>
                                                    <option value="10:30">10:30 AM</option>
                                                    <option value="11:00">11:00 AM</option>
                                                    <option value="11:30">11:30 AM</option>
                                                    <option value="12:00">12:00 PM</option>
                                                    <option value="12:30">12:30 PM</option>
                                                    <option value="13:00">01:00 PM</option>
                                                    <option value="13:30">01:30 PM</option>
                                                    <option value="14:00">02:00 PM</option>
                                                    <option value="14:30">02:30 PM</option>
                                                    <option value="15:00">03:00 PM</option>
                                                    <option value="15:30">03:30 PM</option>
                                                    <option value="16:00">04:00 PM</option>
                                                    <option value="16:30">04:30 PM</option>
                                                    <option value="17:00">05:00 PM</option>
                                                    <option value="17:30">05:30 PM</option>
                                                    <option value="18:00">06:00 PM</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <label class='field-heading'>Service Address</label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="field-title">Street name</label>
                                                <input class="form-control" id="EditStreetName" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="field-title">House number</label>
                                                <input class="form-control" id="EditHouseNumber" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="field-title">Pin Code</label>
                                                <input class="form-control" id="EditPincode" type="number" />
                                                <span id="pinErr" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="field-title">City</label>
                                                <input class="form-control" id="EditCity" type="text" />
                                                <input class="form-control d-none" id="EditState" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <label class='field-heading'>Service Address</label>
                                    <label class="field-title">Same as Service Address</label>
                                    <div class="form-group">
                                        <label class="field-heading">Why do you want to reschedule service request?</label>
                                        <textarea class="form-control" maxlength="500" rows="3" placeholder="Why do you want to reschedule service request?" id="RescheduleReason"></textarea>
                                    </div>
                                    <button class="btn" type="button" id="EditAndRescheduleBtn" disabled="disabled">Update</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="RefundModal" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Refund Amount</h4>
                                <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                            </div>
                            <div class="modal-body">
                                <div id="RefundErrAlert"></div>
                               <div class="form-group">
                                   <table>
                                       <thead>
                                           <tr>
                                               <th>Paid Amount</th>
                                               <th>Refund Amount</th>
                                               <th>In Balance Amount</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           <tr>
                                               <td id="TotalAmount"></td>
                                               <td id="RefundAmount"></td>
                                               <td id="BalanceAmount"></td>
                                           </tr>
                                       </tbody>
                                   </table>
                               </div>
                               <form>
                                   <div class="row">
                                       <div class="col-sm-6">
                                           <div class="form-group">
                                               <label class="field-heading">
                                                   Amount
                                               </label>
                                               <div class="input-group">
                                                   <input class="form-control" type="number" id="AmountInput" />
                                                   <select class="form-control" id="RefundMode">
                                                       <option value="Percentage">Percentage</option>
                                                       <option value="Fixed">Fixed</option>
                                                   </select>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-sm-6">
                                           <div class="form-group">
                                               <label class="field-heading">
                                                   Calculate
                                               </label>
                                               <div class="input-group">
                                                   <button type="button" class="btn" id="RefundCalculater">Calculate</button>
                                                   <input type="text" class="form-control" id="RefundCalculaterAns" readonly />
                                               </div>
                                               <span class="text-danger d-none" id="refundError">Refund should not be greater than actual Amount.</span>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <label class="field-heading">Why you want to refund amount ?</label>
                                       <textarea id="RefundReason" class="form-control" rows="3" placeholder="Why you want to refund amount ?"></textarea>
                                   </div>
                                   <button class="btn" type="button" id="RefundBtn" disabled="disabled">Refund</button>
                                   <input type="text" class="d-none" id="RefundClickId" />
                               </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="CancleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <input type="text" class="d-none" id="CancleClickedId" />
                                <h3>Are you sure you want to Cancle Service ?</h3>
                                <input type="button" class="btn" value="Yes" onclick="CancleService()" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="SuccessActionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <h3>Service Updated Successfully  !</h3>
                                <input type="button" id="SuccessActionModalBtn" class="btn" value="Yes" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="mobileSorting" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Choose Option</h4>
                                <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                            </div>
                            <div class="modal-body forgot-password">
                                <form>
                                    <input type="radio" name="sortOption" id="ServiceIdAscending" value="ServiceId:Ascending">&nbsp;Service Id : Ascending<br>
                                    <input type="radio" name="sortOption" id="ServiceIdDescending" value="ServiceId:Descending">&nbsp;Service Id : Descending<br>
                                    <input type="radio" name="sortOption" id="Customer:AtoZ" value="Customer:AtoZ">&nbsp;Customer : A to Z<br>
                                    <input type="radio" name="sortOption" id="Customer:ZtoA" value="Customer:ZtoA">&nbsp;Customer : Z to A<br>
                                    <input type="radio" name="sortOption" id="ServiceProviderAtoZ" value="ServiceProvider:AtoZ">&nbsp;Service Provider : A to Z<br>
                                    <input type="radio" name="sortOption" id="ServiceProvider:ZtoA" value="ServiceProvider:ZtoA">&nbsp;Service Provider : Z to A<br>
                                    <input type="radio" name="sortOption" id="Status:Ascending" value="Status:Ascending">&nbsp;Status : Ascending<br>
                                    <input type="radio" name="sortOption" id="Status:Descending" value="Status:Descending">&nbsp;Status : Descending<br>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Page Content -->
                <div class="w-100 pl-3" id="page-content-wrapper">
                    <div class="d-flex datatable_heading">
                        <div>Service Requests</div>
                    </div>
                    <div>
                        <form>
                            <div class="filter row">
                                <div class="col-xl-2 col-md-4 col-6">
                                    <input class="form-control" type="text" id="serviceID" name="serviceID" placeholder="Service ID">
                                </div>
                                <div class="col-xl-2 col-md-4 col-6">
                                    <input class="form-control" type="text" id="postalCode" name="postalCOde" placeholder="Postal Code">
                                </div>
                                <div class="col-xl-2 col-md-4 col-6">
                                    <input class="form-control" type="text" id="email" name="email" placeholder="Email">
                                </div>
                                <div class="col-xl-2 col-md-4 col-6">
                                    <div>
                                        <select name="Customer" id="Customer">
                                            <option value="" hidden disabled selected>Customer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-md-4 col-6">
                                    <select name="ServiceProvider" id="ServiceProvider">
                                        <option value="" hidden disabled selected>Service Provider</option>
                                    </select>
                                </div>
                                <div class="col-xl-2 col-md-4 col-6">
                                    <select name="status" id="status">
                                        <option value="" disabled selected>Status</option>
                                        <option value="New">New</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Completed">Completed</option>
                                        <option value="Cancelled">Cancelled</option>
                                    </select>
                                </div>
                                <div class="col-xl-2 col-md-4 col-6">
                                    <div>
                                        <div class="input-group">
                                            <input class="form-control" id="from-date" name="date" placeholder="From Date" type="text" />
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xl-2 col-md-4 col-6">
                                    <div class="input-group">
                                        <input class="form-control" id="to-date" name="date" placeholder="To Date" type="text" />
                                    </div>
                                </div>
                                <div class="col-xl-1 col-md-4 col-6">
                                    <button type="button" id="search">Search</button>
                                </div>
                                <div class="col-xl-1 col-md-4 col-6">
                                    <button type="button" id="clear">Clear</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="py-2 mt-3 mobile_sorting text-center"><a href="#" data-toggle="modal" data-target="#mobileSorting" data-dismiss="modal">Sort Data : <img src="~/image/upcoming_service/arrow.svg" alt="sorting-arrow"></a></div>

                    <div class="row mt-3">
                        <div class="col">
                            <table class="dataTable w-100 table" id="serviceRequesttable">
                                <thead>
                                    <tr>
                                        <th>Service ID</th>
                                        <th>Service date</th>
                                        <th>Customer detail</th>
                                        <th>Service Provider</th>
                                        <th>Net Amount</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                        <th class="d-none">Email</th>
                                        <th class="d-none">Pincode</th>
                                    </tr>
                                </thead>
                                <tbody id="ServiceRequestTblData">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p class="rights">©2018 Helperland. All rights reserved.</p>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
    <script src="~/js/admin_ServiceRequest.js"></script>
</body>

</html>