

@section css{
    <link rel="stylesheet" href="~/css/book_service.css" />
}
<section>
    <img src="~/image/booking_service/calculator-banner.png" class="img-fluid bg_main" alt="mainimage" />
</section>
<section>
    <div class="container">
        <div class="header">
            <h1 class="text-center header-color">Set up your cleaning service</h1>
            <div class="d-flex justify-content-center star">
                <hr / class="side_hr">
                <img src="~/image/price/star.png" />
                <hr / class="side_hr">
            </div>
        </div>
        <div class="row mainPortation">
            <div class="col-xl-8 col-lg-12">
                <div>
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item bookNowMenu">
                            <a class="nav-link active" id="pills-service-tab" data-toggle="pill" href="#pills-service" role="tab"
                               aria-controls="pills-service" aria-selected="true">
                                <img src="~/image/booking_service/setup-service (1).png" /><span class="step-title">
                                    Setup
                                    Service
                                </span>
                            </a>
                        </li>
                        <li class="nav-item bookNowMenu">
                            <a class="nav-link" id="pills-schedule-tab" data-toggle="pill" href="#pills-schedule" role="tab"
                               aria-controls="pills-schedule" aria-selected="false">
                                <img src="~/image/booking_service/schedule-plan.png" /><span class="step-title">Schedule & Plan</span>
                            </a>
                        </li>
                        <li class="nav-item bookNowMenu">
                            <a class="nav-link" id="pills-details-tab" data-toggle="pill" href="#pills-details" role="tab"
                               aria-controls="pills-details" aria-selected="false">
                                <img src="~/image/booking_service/user-details (1).png" /><span class="step-title">
                                    Your
                                    Details
                                </span>
                            </a>
                        </li>
                        <li class="nav-item bookNowMenu">
                            <a class="nav-link" id="pills-payment-tab" data-toggle="pill" href="#pills-payment" role="tab"
                               aria-controls="pills-payment" aria-selected="false">
                                <img src="~/image/booking_service/payment.png" /><span class="step-title">
                                    Make
                                    Payment
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">

                        @await Html.PartialAsync("_setupServicePV")

                        @await Html.PartialAsync("_scheduleServicePV")

                        @await Html.PartialAsync("_addressDetailsPV")


                        <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
                            <div class="payment-content">
                                <form>
                                    <span class="question">Pay securely with Helperland payment gateway!</span>

                                    <span>Promo Code (Optional)</span>
                                    <div class="row">
                                        <div class="col-xs-7 col-sm-6 col-md-4">
                                            <input class="form-control" type="text" placeholder="Promo Code (Optional)" readonly />
                                        </div>
                                        <div class="col-xs-5 col-sm-3 col-md-2">
                                            <button class="btn custombtn" id="apply" type="submit" disabled>
                                                Apply
                                            </button>
                                        </div>
                                    </div>
                                    <hr class="divider" />
                                    <div class="inputCardNumber">

                                        <input class="form-control" type="text" placeholder="Card Number" readonly>
                                    </div>

                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="Paycard">
                                                <span>Accept Cards</span><br>
                                                <span>
                                                    <img src="../.././" alt="master">
                                                    <img src="../.././" alt="visa">
                                                    <img src="../.././" alt="america">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="divider" />
                                    <div class="acceptTerm">
                                        <label>
                                            <input type="checkbox" required>
                                            <span>
                                                I accepted terms and conditions, the cancellation policy and the privacy policy. I confirm that Helperland starts to execute the contract before the expiry of the withdrawal period and I lose my right of withdrawal as a consumer with full performance of the contract.
                                            </span>
                                        </label>
                                    </div>
                                    <hr class="divider" />
                                    <div class="text-right">
                                        <button class="btn custombtn btn-lg" id="CompleteBookingBtn" onclick="CompleteBooking()">
                                            Complete Booking
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-8" id="paymentSideTable">
                <div class="payment-summary">
                    <h3 class="heading">Payment Summary</h3>
                    <div class="content">
                        <span>08/02/2022  08:00</span>
                        <table>
                            <thead>
                                <tr>
                                    <th>Duration</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Basic</td>
                                    <td>3 Hrs</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="payment-summary-hr">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Total Service</b>
                                    </td>
                                    <td>
                                        <b>3 Hrs</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Per Cleaning</td>
                                    <td><b>54,00&nbsp;€<b></b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content total-payment">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Total Payment</td>
                                    <td>54,00&nbsp;€</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p class="no-sales-tax">According §19 UStG no sales tax is calculated.</p>
                                    </td>
                                </tr>
                                <tr class="effective-price">

                                    <td>Effective Price</td>
                                    <td>
                                        <b>43,20&nbsp;€</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>

                            <span>*</span>You will save 20% according to §35a EStG.
                        </p>
                    </div>
                    <div class="footer">

                        <img alt="Smiley" src="~/image/booking_service/smiley.png">
                        <span>See what is always included</span>

                    </div>
                </div>
                <div class="faq">
                    <h3>Question ?</h3>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="heading0">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse0" title="What's included in a cleaning?" aria-expanded="false">
                                    <img alt="Right Arrow" src="~/image/booking_service/right-arrow-dark.png"> What's included in a cleaning?
                                </a>
                            </div>
                            <div class="panel-collapse collapse" id="collapse0" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    Bedroom, Living Room &amp; Common Areas,Bathrooms,Kitchen,Extras
                                </div>
                            </div>
                        </div><div class="panel panel-default">
                            <div class="panel-heading" id="heading1">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse1" title="Which Helperland professional will come to my place?" aria-expanded="false">
                                    <img alt="Right Arrow" src="~/image/booking_service/right-arrow-dark.png"> Which Helperland professional will come to my place?
                                </a>
                            </div>
                            <div class="panel-collapse collapse" id="collapse1" aria-expanded="false">
                                <div class="panel-body">
                                    Helperland has a vast network of experienced, top-rated cleaners. Based on the time and date of your request, we work to assign the best professional available.Like working with a specific pro? Add them to your Pro Team from the mobile app and they'll be requested first for all future bookings.You will receive an email with details about your professional prior to your appointment.
                                </div>
                            </div>
                        </div><div class="panel panel-default">
                            <div class="panel-heading" id="heading2">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2" title="Can I skip or reschedule bookings?" aria-expanded="false">
                                    <img alt="Right Arrow" src="~/image/booking_service/right-arrow-dark.png"> Can I skip or reschedule bookings?
                                </a>
                            </div>
                            <div class="panel-collapse collapse" id="collapse2" aria-expanded="false">
                                <div class="panel-body">
                                    You can reschedule any booking for free at least 24 hours in advance of the scheduled start time. If you need to skip a booking within the minimum commitment, we’ll credit the value of the booking to your account. You can use this credit on future cleanings and other Helperland services.

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="heading3">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse3" title="test tatva" aria-expanded="false">
                                    <img alt="Right Arrow" src="~/image/booking_service/right-arrow-dark.png"> test tatva
                                </a>
                            </div>
                            <div class="panel-collapse collapse" id="collapse3" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    test tatva
                                </div>
                            </div>
                        </div>
                    </div>
                    <a title="For more help" href="faq.html">For more help</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Button trigger modal -->
<button type="button" id="PaymentModalBtn" class="btn btn-primary" data-toggle="modal" data-target="#PaymentModal">
    Payment Summary 54,00 €
</button>

<!-- Paymwnt Summary -->
<div class="modal fade" id="PaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Payment Summary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/image/booking_service/close-white.png"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="payment-summary">
                    <div class="content">
                        <span>08/02/2022  08:00</span>
                        <table>
                            <thead>
                                <tr>
                                    <th>Duration</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Basic</td>
                                    <td>3 Hrs</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="payment-summary-hr">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Total Service</b>
                                    </td>
                                    <td>
                                        <b>3 Hrs</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Per Cleaning</td>
                                    <td><b>54,00&nbsp;€<b></b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content total-payment">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Total Payment</td>
                                    <td>54,00&nbsp;€</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p class="no-sales-tax">According §19 UStG no sales tax is calculated.</p>
                                    </td>
                                </tr>
                                <tr class="effective-price">

                                    <td>Effective Price</td>
                                    <td>
                                        <b>43,20&nbsp;€</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>

                            <span>*</span>You will save 20% according to §35a EStG.
                        </p>
                    </div>
                    <div class="footer">

                        <img alt="Smiley" src="~/image/booking_service/smiley.png">
                        <span>See what is always included</span>

                    </div>
                </div>
                <div class="faq">
                    <h3>Question ?</h3>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="heading0">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#mobileCollapse0" title="What's included in a cleaning?" aria-expanded="false">
                                    <img alt="Right Arrow" src="~/image/booking_service/right-arrow-dark.png"> What's included in a cleaning?
                                </a>
                            </div>
                            <div class="panel-collapse collapse" id="mobileCollapse0" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    Bedroom, Living Room &amp; Common Areas,Bathrooms,Kitchen,Extras
                                </div>
                            </div>
                        </div><div class="panel panel-default">
                            <div class="panel-heading" id="heading1">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#mobileCollapse1" title="Which Helperland professional will come to my place?" aria-expanded="false">
                                    <img alt="Right Arrow" src="~/image/booking_service/right-arrow-dark.png"> Which Helperland professional will come to my place?
                                </a>
                            </div>
                            <div class="panel-collapse collapse" id="mobileCollapse1" aria-expanded="false">
                                <div class="panel-body">
                                    Helperland has a vast network of experienced, top-rated cleaners. Based on the time and date of your request, we work to assign the best professional available.Like working with a specific pro? Add them to your Pro Team from the mobile app and they'll be requested first for all future bookings.You will receive an email with details about your professional prior to your appointment.
                                </div>
                            </div>
                        </div><div class="panel panel-default">
                            <div class="panel-heading" id="heading2">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#mobileCollapse2" title="Can I skip or reschedule bookings?" aria-expanded="false">
                                    <img alt="Right Arrow" src="~/image/booking_service/right-arrow-dark.png"> Can I skip or reschedule bookings?
                                </a>
                            </div>
                            <div class="panel-collapse collapse" id="mobileCollapse2" aria-expanded="false">
                                <div class="panel-body">
                                    You can reschedule any booking for free at least 24 hours in advance of the scheduled start time. If you need to skip a booking within the minimum commitment, we’ll credit the value of the booking to your account. You can use this credit on future cleanings and other Helperland services.

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="heading3">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#mobileCollapse3" title="test tatva" aria-expanded="false">
                                    <img alt="Right Arrow" src="~/image/booking_service/right-arrow-dark.png"> test tatva
                                </a>
                            </div>
                            <div class="panel-collapse collapse" id="mobileCollapse3" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    test tatva
                                </div>
                            </div>
                        </div>
                    </div>
                    <a title="For more help" asp-controller="Helperland" asp-action="Faqs">For more help</a>
                </div>
            </div>
        </div>
    </div>
</div>




@section script{
    <script src="~/js/book_service.js"></script>
    <script>
        function checkZip() {
           
            var Zipdata = $('#setupService').serialize();

            $.ajax({
                type: 'Post',
                cache: false,
                url: '/Customer/IsAvailableZip',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: Zipdata,
                success:
                    function (response) {
                        if (response.value == "true") {
                            $('#pills-schedule-tab').click();
                        } else {
                            $('#notAvailablezipError').html("We are not providing service in this area. We’ll notify you if any helper would start working near your area.");
                        }
                    },
                error:
                    function (err) {
                        console.error(err);
                    }
            });
        }


        function ScheduleService() {
            var ScheduleData = $('#scheduleData').serialize();

            $.ajax({
                type: 'Post',
                cache: false,
                url: '/Customer/ScheduleService',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: ScheduleData,
                success:
                    function (response) {
                        if (response.value == "true") {
                            console.log("ok");
                            getAddressOfUser();
                            $('#pills-details-tab').click();

                        } else {
                            console.log("data not found");
                         

                        }
                    },
                error:
                    function (err) {
                        console.error(err);
                    }
            });

        }


        function getAddressOfUser() {
            $.ajax({
                type: 'GET',
                cache: false,
                url: '/Customer/getAddressOfUser',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success:
                    function (response) {
                        console.log(response);
                        var address_picker = $('.address-picker');
                        address_picker.empty();
                        for (var i = 0; i < response.length; i++) {
                            if (response[i].isDefault == true) {
                                address_picker.append(' <li> <label> <input type="radio" name="addressRadio" id="addressRadio" value="' + response[i].id + '" checked /> <span class="address-block"> <b>Address : </b> ' + response[i].addressline1 + ' ' + response[i].addressline2 + ', ' + response[i].city + ' ' + response[i].postalcode + ' </span > <span> <b>Phone Number :</b>  ' + response[i].mobile + '   </span> <span class="radio-pointer"></span> </label > </li > ')
                            } else {
                                address_picker.append(' <li> <label> <input type="radio" name="addressRadio" id="addressRadio" value="' + response[i].id + '" /> <span class="address-block"> <b>Address : </b> ' + response[i].addressline1 + ' ' + response[i].addressline2 + ', ' + response[i].city + ' ' + response[i].postalcode + ' </span > <span> <b>Phone Number :</b>  ' + response[i].mobile + '   </span> <span class="radio-pointer"></span> </label > </li > ')
                            }
                        }

                    }
                 

            });
        }


        function ClearAddressForm() {
            $('#NewHouseNo').val("");
            $('#NewStreetName').val("");
            $('#NewCity').val("");
            $('#NewPostalCode').val("");
            $('#NewMobile').val("");
        }

        function AddNewUserAddress() {
            
            var NewAddress = {};
            NewAddress.AddLine1 = $('#NewHouseNo').val();
            NewAddress.AddLine2 = $('#NewStreetName').val();
            NewAddress.NewCity = $('#NewCity').val();
            NewAddress.NewMobile = $('#NewMobile').val();
            NewAddress.NewPostal = $('#NewPostalCode').val();

            $.ajax({
                type: "POST",
                url: '/Customer/AddNewAddressToDB',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { 'AddLine1': NewAddress.AddLine1, 'AddLine2': NewAddress.AddLine2, 'NewCity': NewAddress.NewCity, 'NewMobile': NewAddress.NewMobile, 'NewPostal': NewAddress.NewPostal  },
                cache: false,
                success:
                    function (response) {
                        if (response.value == "true") {
                            getAddressOfUser();
                            ClearAddressForm();
                        } else {
                            alert("fail");
                        }
                    },
                error:
                    function (err) {
                        console.error(err);
                    }
            });
        }

        $("#step3btn").on("click", function () {
            $('#pills-payment-tab').click();
        });

        function CompleteBooking() {

            var NewBookingRequest = {};
            NewBookingRequest.ServiceZipCode = $('#postalCode').val();
            NewBookingRequest.ServiceDate = $('#scheduleDate').val();
            NewBookingRequest.ServiceHours = $('#scheduleTime').val();
            NewBookingRequest.Comments = $('#comments').val();
            NewBookingRequestHavePets = $('#pets').val();
            NewBookingRequest.extraHour = 0;
            NewBookingRequest.cabinet = $('#cabinet').val();
            NewBookingRequest.fridge = $('#fridge').val();
            NewBookingRequest.oven = $('#oven').val();
            NewBookingRequest.laundary = $('#laundary').val();
            NewBookingRequest.window = $('#window').val();
            NewBookingRequest.SelectedAddressId = $(".address-picker input[name='addressRadio']:checked").val();

            if (NewBookingRequest.cabinet) {
                NewBookingRequest.extraHour += 0.5;
            }
            if (NewBookingRequest.fridge) {
                NewBookingRequest.extraHour += 0.5;
            }
            if (NewBookingRequest.oven) {
                NewBookingRequest.extraHour += 0.5;
            }
            if (NewBookingRequest.laundary) {
                NewBookingRequest.extraHour += 0.5;
            }
            if (NewBookingRequest.window) {
                NewBookingRequest.extraHour += 0.5;
            }
            $.ajax({
                type: 'POST',
                url: '/Customer/CompleteBooking',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: NewBookingRequest,
                success:
                    function (response) {
                        if (response.value == "true") {
                            alert("Booking Successfully");
                        } else {
                            alert("booking not done");
                        }
                    },
                error:
                    function (err) {
                        console.error(err);
                    }
            });
           
        }
       
    </script>
}
