
@{
    Layout = "~/Views/Shared/_CustDashLayout.cshtml";
}


<div id="Dashboard">
    <div class="d-flex datatable_heading">
        <div class="py-2">Current Service Requests</div>
        <div class="py-2 mobile_sorting mx-3">
            <a href="#" data-toggle="modal" data-target="#mobileSorting" data-dismiss="modal"><img src="~/image/upcoming_service/arrow.svg" alt="sorting-arrow"></a>
        </div>
        <div class="modal fade" id="mobileSorting" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Choose Option</h4>
                        <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                    </div>
                    <div class="modal-body forgot-password">
                        <form>
                            <input type="radio" name="sortOption" id="ServiceIdOldest" value="ServiceId:Oldest">&nbsp;Service Id : Oldest<br>
                            <input type="radio" name="sortOption" id="ServiceIdLatest" value="ServiceId:Latest">&nbsp;Service Id : Latest<br>
                            <input type="radio" name="sortOption" id="ServiceDateOldest" value="ServiceDate:Oldest">&nbsp;Service Date : Oldest<br>
                            <input type="radio" name="sortOption" id="ServiceDateLatest" value="ServiceDate:Latest">&nbsp;Service Date : Latest<br>
                            <input type="radio" name="sortOption" id="ServiceProviderAtoZ" value="ServiceProvider:AtoZ">&nbsp;Service Provider : A to Z<br>
                            <input type="radio" name="sortOption" id="ServiceProvider:ZtoA" value="ServiceProvider:ZtoA">&nbsp;Service Provider : Z to A<br>
                            <input type="radio" name="sortOption" id="PaymentLowtoHigh" value="PaymentLowtoHigh">&nbsp;Payment Low to High<br>
                            <input type="radio" name="sortOption" id="PaymentHightoLow" value="PaymentHightoLow">&nbsp;Payment High to Low<br>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reschedule Modal content-->
        <button type="button" class="btn d-none" data-toggle="modal" data-target="#rescheduleModal" id="rescheduleModalBtn">
            Launch modal
        </button>
        <div class="modal fade" id="rescheduleModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Reschedule service Request</h4>
                        <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                    </div>
                    <div class="modal-body">
                        <form>
                            <label>Select New Date & Time</label>
                            <div class="row">
                                <input type="text" class="d-none" id="serviceIdForReschedule" />
                                <div class="col-sm-6 mb-sm-2">
                                    <input class="form-control" id="rescheduleDate" placeholder="Service Date" type="text" />
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control" id="rescheduleTime">
                                        <option value="08:00">08:00 AM</option>
                                        <option value="08:30">08:30 AM</option>
                                        <option value="09:00">09:00 AM</option>
                                        <option value="09:30">09:30 AM</option>
                                        <option value="10:00">10:00 AM</option>
                                        <option value="10:30">10:30 AM</option>
                                        <option value="11:00">11:00 AM</option>
                                        <option value="11:30">11:30 AM</option>
                                        <option value="12:00">12:00 PM</option>
                                        <option value="12:30">12:30 PM</option>
                                        <option value="13:00">01:00 PM</option>
                                        <option value="13:30">01:30 PM</option>
                                        <option value="14:00">02:00 PM</option>
                                        <option value="14:30">02:30 PM</option>
                                        <option value="15:00">03:00 PM</option>
                                        <option value="15:30">03:30 PM</option>
                                        <option value="16:00">04:00 PM</option>
                                        <option value="16:30">04:30 PM</option>
                                        <option value="17:00">05:00 PM</option>
                                        <option value="17:30">05:30 PM</option>
                                        <option value="18:00">06:00 PM</option>
                                    </select>
                                </div>
                            </div>
                            <button type="button" class="btn largeBtn" id="rescheduleServiceUpdateBtn" disabled="disabled">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--cancle Modal content-->
        <button type="button" class="btn d-none" data-toggle="modal" data-target="#cancleModal" id="cancleModalBtn">
            Launch modal
        </button>
        <div class="modal fade" id="cancleModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Cancel Service Request</h4>
                        <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input class="d-none" id="cancleReqServiceId" />
                            <label>Why You Want to cancle the service request ?</label>
                            <div class="form-group row">
                                <div class="col">
                                    <textarea class="form-control" id="canclecomments" rows="3" maxlength="300"></textarea>
                                </div>
                            </div>
                            <button type="button" class="btn largeBtn" id="cancleServiceMdodelBtn" disabled="disabled">Cancel Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Display All data  Modal content-->
        <div class="modal fade" id="displaydataModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered"">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Service Details</h4>
                        <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                    </div>
                    <div class="modal-body">
                        <div id="SerSummaryDetails">
                            <p class="date-time"><span id="SerDate"></span> <span id="SerStartTime"></span>-<span id="SerEndTime"></span></p>
                            <span class="title-text"><b>Duration : </b><span id="SerDuration"></span> Hrs</span>
                            <hr />
                            <span class="title-text"><b>Service Id : </b><span id="SerId"></span></span>
                            <span class="title-text"><b>Extras :  </b><span id="SerExtra"></span></span>
                            <span class="title-text"><b>Net Amout : </b><span id="SerPayment" class="NetAmount"></span></span>
                            <hr />
                            <span class="title-text"><b>Service Address : </b><span id="SerAddress"></span></span>
                            <span class="title-text"><b>Billing Address : </b>Same as cleaning Address</span>
                            <span class="title-text"><b>Phone : </b><span id="SerMobile"></span></span>
                            <span class="title-text"><b>Email : </b><span id="SerEmail"></span></span>
                            <hr />
                            <span class="title-text"><b>Comments : </b><span id="SerComment"></span></span>
                            @*<span class="title-text"><img src="~/image/service_history/notpet.png" />I do not have pets at home</span>*@
                            <span class="title-text"><span id="SerPets"></span></span>
                            <hr />
                            <div class="action-btn">
                                <a id="SerRescheduleBtn" class="btn rescheduleBtn"><img src="~/image/service_history/reschedule.png" />Reschedule</a>
                                <a id="SerCancleBtn" class="btn cancelbtn"><img src="~/image/service_history/cancle.png" />Cancle</a>
                            </div>
                        </div>
                        <div id="spDetails">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn d-none" data-toggle="modal" data-target="#CancleSuccessfulyDone" id="CancleSuccessfulyDoneBtn">
            ok
        </button>

        <!-- Modal -->
        <div class="modal fade" id="CancleSuccessfulyDone" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <span>
                            <img src="~/image/home/logout.png" />
                        </span>
                        <h3>Your service canceled successfully</h3>
                        <h4>Cancle Request Id : <b id="CancleReferenceId"></b></h4>
                        <a class="btn CancleOkBtn" asp-controller="Customer" asp-action="Dashboard">Ok</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="RescheduleError" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h3>This Provider has already booked another service at this time pleaase try with different time !</h3>
                        <a class="btn CancleOkBtn" asp-controller="Customer" asp-action="Dashboard">Ok</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ml-auto py-2" id="AddNewServiceBtn"><a asp-controller="Customer" asp-action="BookService">Add New Service Request</a></div>
    </div>
    <div class="row">
        <div class="col">
            <table class="dataTable table" id="Dashboard_table">
                <thead>
                    <tr>
                        <th>Service Id </th>
                        <th>Service Date </th>
                        <th>Service Provider </th>
                        <th>Payment</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="dashTblData">
                </tbody>
            </table>
        </div>
    </div>

</div>
@section script{
    <script src="~/js/CDashboard.js"></script>
}