@{
    Layout = "~/Views/Shared/_CustDashLayout.cshtml";
}

<div id="ServiceHistory">
    <div class="d-flex datatable_heading">
        <div class="py-2">Service History</div>
        <div class="py-2 ml-3 mobile_sorting">
            <a href="#" data-toggle="modal" data-target="#mobileSorting" data-dismiss="modal"><img src="~/image/upcoming_service/arrow.svg" alt="sorting-arrow"></a>

        </div>
        <div class="modal fade" id="mobileSorting" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Choose Option</h4>
                        <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                    </div>
                    <div class="modal-body forgot-password">
                        <form>
                            <input type="radio" name="sortOption" id="ServiceDateOldest" value="ServiceDate:Oldest">&nbsp;Service Date : Oldest<br>
                            <input type="radio" name="sortOption" id="ServiceDateLatest" value="ServiceDate:Latest">&nbsp;Service Date : Latest<br>
                            <input type="radio" name="sortOption" id="ServiceProviderAtoZ" value="ServiceProvider:AtoZ">&nbsp;Service Provider : A to Z<br>
                            <input type="radio" name="sortOption" id="ServiceProvider:ZtoA" value="ServiceProvider:ZtoA">&nbsp;Service Provider : Z to A<br>
                            <input type="radio" name="sortOption" id="PaymentLowtoHigh" value="PaymentLowtoHigh">&nbsp;Payment Low to High<br>
                            <input type="radio" name="sortOption" id="PaymentHightoLow" value="PaymentHightoLow">&nbsp;Payment High to Low<br>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="ml-auto py-2"><button>Export</button></div>
    </div>
    <div class="row">
        <div class="col">
            <table class="dataTable table" id="service_history_table">
                <thead>
                    <tr>
                        <th>Service Details </th>
                        <th>Service Provider </th>
                        <th>Payment </th>
                        <th>Status </th>
                        <th>Rate SP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>
                                <span><img src="~/image/service_history/calendar.png" alt="calendar"></span> <strong>
                                    31/03/2019
                                </strong>
                            </p>
                            <p>12:00 - 18:00</p>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col sp_icon d-flex align-items-center">
                                    <Span class="img_circle">
                                        <img src="~/image/service_history/cap.png" alt="cap">
                                    </Span>
                                </div>
                                <div class="col">
                                    <p>Lyum Watson</p>
                                    <p>
                                        <div class="Stars" style="--rating: 4;"></div>&nbsp;4
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="payment">€63</p>
                        </td>
                        <td>
                            <p class="status_complete">Completed</p>
                        </td>
                        <td>
                            <p> <button class="rate" onclick="rating()" id="rate_btn">Rate SP</button></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><span><img src="~/image/service_history/calendar.png" alt="calendar"></span> <strong> 28/02/2018</strong></p>
                            <p>12:00 - 18:00</p>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col sp_icon d-flex align-items-center">
                                    <Span class="img_circle">
                                        <img src="~/image/service_history/cap.png" alt="cap">
                                    </Span>
                                </div>
                                <div class="col">
                                    <p>Lyum Watson</p>
                                    <p>
                                        <div class="Stars" id="rate1" style="--rating: 4;"></div>&nbsp;4
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="payment">€63</p>
                        </td>
                        <td>
                            <p class="status_cancelled">Cancelled</p>
                        </td>
                        <td>
                            <p> <button class="rate">Rate SP</button></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section script{
                <script src="~/js/Cservice_history.js"></script>
            }