@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif !important;
}

/*/////////////// NAVBAR////////////// */
.navbar-nav a {
    padding: 5px 20px !important;
}

.navbar-nav {
    height: 40px;
}

nav {
    background-color: #525252;
}

.navbar {
    padding: 0px 0px !important;
}

#navbarCollapse {
    justify-content: right;
}

.navbar-brand img {
    width: 73px;
    height: 54px;
    margin-left: 15px;
}

.nav-item:nth-child(1) .menu, .nav-item:nth-child(6) .menu, .nav-item:nth-child(7) .menu {
    background-color: #29626D;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
}
    .nav-item:nth-child(1) .menu:hover, .nav-item:nth-child(6) .menu:hover, .nav-item:nth-child(7) .menu:hover {
        color: #006072 !important;
        background-color: white;
        border-color: #006072;
        transition: all .5s;
    }

.nvbarbtn {
    border-radius: 25px;
    border: 1px solid white;
    color: white;
    font-size: 17px;
    padding: 5px 20px;
    margin: 0px 5px;
    background: transparent;
}

.menu {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 10px 0px;
    margin: 0px 6px;
}

#navbarCollapse button {
    font-size: 16px;
    padding: 4px 20px;
    background-color: #29626D;
}

.menu:hover {
    border-radius: 25px;
    border: 1px solid white;
    color: white;
    background-color: #29626D;
}

.ddmenu {
    color: white;
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 20px;
}

.bg_main {
    width: 100%;
    height: auto;
}

.fixed-top {
    background-color: rgba(39,39,39,.7) !important;
}

.about {
    max-width: 980px;
}

.innertext {
    color: #646464;
    margin-bottom: 20px;
}
/* /////////////////// MOBILE NAV START //////////////////////// */

.mobileNav {
    top: 0;
    z-index: 100;
    display: none;
    background-color: #525251;
}

.mobileLogo {
    height: 55px;
    width: 73px;
    margin-left: 10px;
}

.mobileNavSpaccing {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
}

.sideNav {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100vw;
    min-height: 100vh;
    z-index: 1000;
    left: 100vw;
    transition: left 0.35s;
    display: flex;
    align-items: center;
    justify-content: end;
}

    .sideNav.open {
        left: 0;
        background-color: rgba(95, 95, 95,0.6);
    }

    .sideNav.toggle {
        height: 350px;
        border: 1px solid #ffffff;
        /* width:50% */
        float: right;
    }

.menubtn {
    margin-right: 15px;
}

.closebtn {
    height: 60px;
    text-align: end;
}

.openSidenav {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1000;
    overflow: scroll;
}

.navbar-toggler {
    display: block;
    width: 55px;
    padding: 10px;
    font-size: 0;
    border: 2px solid white;
    border-radius: 5px;
}

    .navbar-toggler span {
        display: block;
        height: 3px;
        background-color: white;
    }

        .navbar-toggler span:nth-child(2) {
            margin: 6px 0;
        }

.closebtn img {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

.openSidenav p {
    margin-bottom: 0px;
}

.mobileNavMenu {
    color: black;
    text-decoration: none;
}

.openSidenav ul li {
    list-style: none;
    margin-bottom: 10px;
    margin-left: 15px;
}
/* /////////////////// MOBILE NAV END //////////////////////// */
.star {
    margin: 15px 0px 38px 0px;
}
#main{
    margin-top:100px;
}
    .star img {
        margin: 0px 9px;
    }

.side_hr {
    width: 62px;
}

.signupform {
    max-width: 700px;
    padding-bottom:70px;
}

    .signupform .row {
        margin: 10px 0;
    }

#register {
    /* margin-left: 50%; */
    padding: 11px 30px;
    background: #29626D;
    color: white;
    border-radius: 30px;
    cursor: not-allowed;
    transition: all .5s;
}

#register:hover {
    color: #1d78ac;
    background-color: white;
    border: 1px solid #29626D;
}

.signupform h1 {
    color: #646464;
}

footer {
    background-color: #111111;
    width: 100%;
    color: white;
    height: auto;
}

footer .container a {
    text-decoration: none;
    color: #F1F1F1;
    font-size: 14px;
}

.fmenu {
    padding-top: 20px;
    max-width: 1350px;
}

.fimg1 {
    width: 9px;
    height: 18px;
    margin-right: 20px;
}

.fimg2 {
    width: 20px;
    height: 20px;
}


.right {
    color: #737381;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 20px !important;
}

.hr-line {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 10px;
}

    .hr-line hr {
        border-bottom: 1px solid grey;
        width: 100%;
    }

footer p {
    margin-bottom: 0px !important;
}

.fmenulink a:hover {
    color: tomato;
    transition: all .5s;
}

@media screen and (max-width: 996px) {
    .fmenu {
        height: auto;
    }
}

@media screen and (max-width: 1415px) {
    .fimage {
        margin-top: 61px;
        float: none;
        text-align: center;
        padding-bottom: 20px;
    }
}


@media screen and (max-width: 907px) {

    .fmenulink {
        flex-direction: column;
    }
}

@media screen and (max-width: 460px) {
    .fmenu {
        flex-direction: column;
    }

    .fmenulink {
        margin: 13px 0px;
    }

        .fmenulink a {
            margin: 3px 0px;
        }

    .flogo {
        margin: 10px 0px 0px 0px;
    }

    .fimg2 {
        margin-right: 0px;
    }
}

@media screen and (max-width: 523px) {
    footer {
        height: auto;
        /* width: fit-content; */
    }
}

@media screen and (max-width : 1031px ) {
    .navbar {
        display: none;
    }

    .mobileNav {
        display: block !important;
    }
}
