@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  }
.loader-div {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(26,26,26,0.8);
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sk-chase {
    width: 100px;
    height: 100px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
    background-color: #1d7a8c;
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s;
    background-color: #1d7a8c;
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
    background-color: #1d7a8c;
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {
    80%, 100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }

    100%, 0% {
        transform: scale(1.0);
    }
}
  /* 1st section */
  .navbar{
    padding: 0;
  }
.user_setting button {
    background: none;
}

.userInfoItem {
    color: #4f4f4f;
    margin: 5px 0;
    padding: 5px 5px;
    font-size: 15px;
}

.user_setting .btn {
    padding: 0.1rem 1.3rem;
}
.user-setting {
    top: 125%;
}
 
#navbarCollapse {
justify-content: right;
}
nav{
    background-color: #525252;
}
.navbar-brand img {
width: 73px;
height: 55px;
margin-left:10px;
}
.nav-item:nth-child(1) .menu {
    background: #29626D;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
}
.nav-item:nth-child(1) .menu:hover{
    color: #006072 !important;
    background-color: white;
    border-color: #006072
}
.nav-item:nth-child(1) .menu:hover {
    color: #29626D;
    background: white;
}
.navbar-nav{
  height: 40px;
}

  .navbar-nav a{
    padding: 5px 20px !important;
    font-size: 17px;
    font-weight: normal;
  }
.menu {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 5px 20px;
    margin: 0px 6px;
}

.menu:hover {
border-radius: 35px;
border: 1px solid white;
color: white;
}
.flag {
height: 11px;
height: 20px;
margin-left: 22px;
}
.drop_down {
width: 12px;
height: 7px;
margin-left: 7px;
cursor: pointer;
  
}
  

.navbar-toggler {
display: block;
width: 55px;
padding: 10px;
font-size: 0;
border: 2px solid white;
border-radius: 5px;
}
.navbar-toggler  span{
display: block;
height: 3px;
background-color: white;
}
.navbar-toggler  span:nth-child(2){
margin: 6px 0;
}
.notification{
    height: 32px;
    width: 29px;
    cursor: pointer;
}
  
.dropdown-menu{
    background: white !important;
    color:black;
    left: -10px;
}
 
.notification_number{
position: absolute;
border-radius: 50%;
background: red;
color: white;
top: 3px;
right: 10px;
width: 20px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
}
  
.notification_item{
position: relative;
}
.notification_item::after{
content: '';
position: absolute;
background: white;
width: 1px;
height: 100%;
right: 0px;
top: 0;
}
.notification_item::before{
content: '';
position: absolute;
background: white;
width: 1px;
height: 100%;
left: 0px;
top: 0;
}
.fixed-top {
background-color: rgba(39,39,39,.7)!important;
}
.mobileNav{
    display: none;
  }
.mobileNav{
    background-color: #525252;
    top: 0;
    z-index: 100;
}
.mobileLogo{
  height: 55px;
width: 73px;
margin-left:10px;
}
.mobileNavSpaccing{
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}
.sideNav{
  display: flex;
  position: fixed;
  top: 0px;
  width: 100vw;
  min-height: 100vh;
  z-index: 1000;
  left: 100vw;
  transition: left 0.35s;
  display: flex;
  align-items: center;
  justify-content: end;
}
.sideNav.open{
  left: 0;
  
  background-color: rgba(95, 95, 95,0.6);
  
}
.sideNav.toggle{
  height: 350px;
  border: 1px solid #ffffff;
  /* width:50% */
  float: right;
}

.closebtn{
  text-align: end;
}
.openSidenav{
  width:50vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1000;
  overflow: scroll;
}
.closebtn img{
  height: 50px;
  width: 50px;
  margin: 0 auto;
}
.openSidenav p{
  margin-bottom: 0px;
}
.mobileNavMenu{
  color: black!important;
  margin-left: 15px;
  margin-bottom: 10px;
}
.mobileNavMenu.current{
  color: #00c4e6;
}
.menubtn{
  margin: auto 10px;
}
.user_setting .dropdown-menu:before {
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    right: 35px;
}
/*//////////////////////////// NAVBAR END/////////////////////////////////// */
.welcome_msg {
    padding: 44px 0px;
    background: #f9f9f9;
    margin-top:65px;
    border-bottom:1px solid #e1e1e1;
}
.welcome_msg h2{
    font-size: 30px;
    color: #4f4f4f;
}



/* <!--////////////////////////////// DASHBOARD START////////////////////////// --> */
.dashboard .table td,.dashboard .table th{
  margin: 0.3rem 30px !important;
 
}
.table thead th {
    border-top: unset !important;
}
table.dataTable thead th{
  border-bottom: unset;
  vertical-align: middle;
  cursor: pointer;
}
table tr th:nth-child(1){text-align: initial;}
table tr th:nth-child(2){text-align: initial;}
table tr th:nth-child(5){text-align: center;}
table tr td:nth-child(5){text-align: center;}
.dashboard table tr th{
  background: #f9f9f9;
  font-size: 16px;
  font-weight: bold;
  color: #646464;
  height: 40px;
}

#ServiceSchedule table tr td:nth-child(5){
    text-align: left;
}
.fc-day-number{
    text-align:right!important;
}
.dashboard table {
    border: 1px solid #e1e1e1;
    margin-bottom: 0px !important;
}
.dashboard table tr td {
  /* text-align: left; */
  vertical-align: middle;
  font-size: 16px;
  color: #646464;
  /*background: #f9f9f9;*/
}

.dashboard{
  margin-top: 30px;
  margin-bottom: 30px;

  height: 100%;
  overflow: auto
}
#sidebar-wrapper {
  
  background: #1d7a8c;
}
#sidebar-wrapper a:hover{
background: #146371 !important;
} 

#sidebar-wrapper a{
  border: 1px solid rgb(255, 255, 255,0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size:18px;
}



#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}
.list-group-item-action:hover {
    background: #1d7a8c !important;
    color: tomato;
    transition: all .5s;
}
.list-group-item {
  border: none;
  padding: 18px 15px;
  background: #1d7a8c;
  color: white;
  min-width: 260px;
}
.list-group-item.active{
    background: #146371 !important; 

}

table.dataTable.no-footer{
  border-bottom: 1px solid #e1e1e1;
}
.datatable_heading > div{
  font-size: 22px;
  color: #646464;
  font-weight: bold;
}
#ServiceHistory .datatable_heading button {
    background: #1d7a8c;
    color: white;
    border: none;
    border-radius: 35px;
    font-size: 14px;
    padding: 10px 15px 10px 15px;
}
.img_circle img{
  border: 1px solid #646464;
  border-radius: 50%;
  height:50px;
}
.sp_icon{
  max-width: 65px;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: 25px;
  font-family: Times;
  line-height: 1;
  
}
.Stars::before {
  content: '★★★★★';
  background: linear-gradient(90deg, #fc0 var(--percent), rgb(173, 170, 170) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.payment{
  color: #1d7a8c;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.status_complete{
  text-align: center;
  background-color: #67b644;
  color: white;
  padding: 5px 9px 4px 8px;
}
.status_cancelled{
  text-align: center;
  background-color: tomato;
  color: white;
  padding: 5px 12px 4px 12px;
}
#RatingSaveMdodelBtn{
    cursor:not-allowed;
}
.rate{
color: white;
font-size: 14px;
padding: 8px 16px;
background: #1d7a8c;
border: none;
border-radius: 30px;
cursor: pointer;
}
.rate:hover {
    color: white;
    background-color: #096172;
}
.rate.disable {
    opacity: 0.6;
    cursor: not-allowed;
}
thead tr {
  text-align: center;
  background: #f9f9f9
}
tbody tr td p{
  margin-bottom: 0px !important;
}
#page-content-wrapper{
    padding-left:30px;
    padding-right:30px;
}
#page-content-wrapper .dataTables_wrapper .dataTables_paginate a {
    background-color: unset;
    background: unset;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
#page-content-wrapper .dataTables_wrapper .dataTables_paginate span{
  display: flex;
  align-items: center;
  justify-content: center;
}
#page-content-wrapper .dataTables_wrapper .dataTables_paginate a.current,
#page-content-wrapper .dataTables_wrapper .dataTables_paginate a:hover,
#page-content-wrapper .dataTables_wrapper .dataTables_paginate a:hover i
{
  background: #1D7A8C;
  color: white !important;
  cursor: pointer;
}
#page-content-wrapper .dataTables_wrapper .dataTables_paginate a,#page-content-wrapper .dataTables_wrapper .dataTables_paginate a i{
  transition: all 0.3s;
  vertical-align: middle;
    text-align: center;
}
#page-content-wrapper .dataTables_wrapper .dataTables_length,#page-content-wrapper .dataTables_wrapper .dataTables_info{
  padding-top: 0px;
}
#page-content-wrapper .dataTables_wrapper .dataTables_length label,#page-content-wrapper .dataTables_wrapper .dataTables_info{
  margin-bottom: 0px;
  color: #646464;
}
#page-content-wrapper .table-bottom-inner{
  align-items: center;
    width: 35%;
    justify-content: space-between;

}
#page-content-wrapper .table-bottom{
  align-items: center;
  padding: 10px 0;

}

table.dataTable thead .sorting_asc {
  background: none !important;
}
table.dataTable thead .sorting_desc {
  background: none !important;
}
table.dataTable thead .sorting {
  background: none !important;
}

span.arrow-hack {
    margin-left: 5px;
}
.arrow-hack.sort {
  background: url("../image/upcoming_service/arrow.svg") no-repeat center right;
}
.arrow-hack.desc {
  background: url("../image/service_history/decendingSort.png") no-repeat center right;
}
.arrow-hack.asc {
  background: url("../image/service_history/acendingSort.png") no-repeat center right;
}
#service_history_table th:nth-child(6) > span, #Dashboard_table th:nth-child(5) > span {
    display: none;
}
#page-content-wrapper .dataTables_paginate{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile_sorting{
  display: none;
}
.close img{
  width: 22px;
}
/* <!--////////////////////////////// DASHBOARD END////////////////////////// --> */

/*Customer Dashboard CSS*/
.ServiceDateImg, .ServiceTimeImg {
    margin: 0px 10px;
}
#Dashboard_table .date {
    font-weight: bold;
}
#Dashboard_table tbody tr td .rescheduleBtn, #displaydataModal .rescheduleBtn, #newAddressSection .AddnewBtn {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 10px 6px;
    margin: 2px 0;
    background: #1d7a8c;
    border: none !important;
    color: #fff !important;
    border-radius: 50px;
}
#Dashboard_table tbody tr td .rescheduleBtn:hover, #displaydataModal .rescheduleBtn:hover, #newAddressSection .AddnewBtn:hover {
    color: white;
    background-color: #096172;
}
#AddNewServiceBtn a {
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    text-align: right;
    background: #1d7a8c;
    border-radius:50px;
    font-weight:normal;
}
#Dashboard_table .cancelbtn, #displaydataModal .cancelbtn {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 10px 6px;
    margin: 2px 0;
    background: #ff6b6b;
    color: #fff !important;
    border: none !important;
    border-radius: 50px;
}
#Dashboard_table .cancelbtn:hover, #displaydataModal .cancelbtn:hover {
    background-color: #cc5656;
}
#Dashboard_table thead tr th:nth-child(3){
    text-align:initial;
}
#Dashboard .largeBtn, #MySetting .largeBtn {
    width: 100%;
    padding: 11px 34px;
    background: #1d7a8c;
    border: none !important;
    font-size: 16px;
    line-height: 24px;
    color: #fff !important;
    transition: all .3s ease;
    margin: 10px 0;
    border-radius: 50px;
}
#Dashboard #rescheduleDate {
    background-image: url(../image/booking_service/calendar.png);
    background-repeat: no-repeat;
    text-indent: 25px;
    background-position-y: center;
    background-position-x: 5px;
}
#rescheduleModal .modal-dialog, #cancleModal .modal-dialog {
    max-width: 420px;
}
#cancleModal label, #rescheduleModal label {
    font-size: 16px;
    font-weight: normal;
}
#service_history_table thead tr th:nth-child(3){
    text-align:start;
}
.rating {
display: inline-block;
direction: rtl;
unicode-bidi: bidi-override;
text-align: center;
}

.rating .star {
    display: none;
}

.rating label {
    color: lightgray;
    display: inline-block;
    font-size: 22pt;
    margin: 0 -2px;
    transition: transform .15s ease;
}

.rating label:hover {
    transform: scale(1.35, 1.35);
}

.rating label:hover,
.rating label:hover ~ label {
    color: orange;
}

.rating .star:checked ~ label {
    color: orange;
}
#ratingModal h4{
    margin-top:1rem;
    color:#4f4f4f;
}
#spDetails p{
    margin-bottom:0px!important;
}
#SpDetails p {
    margin-bottom: 0px !important;
}
#ratingModal .title-text {
    font-size: 16px;
    line-height: 20px;
    color: #4f4f4f;
    font-weight: normal;
}
#ratingModal .title{
    max-width:160px;
    display:flex;
    align-items:center;
}
#RatingSaveMdodelBtn {
    width: auto;
    padding: 11px 34px;
    background: #1d7a8c;
    border: none !important;
    font-size: 16px;
    line-height: 24px;
    color: #fff !important;
    transition: all .3s ease;
    margin: 10px 0;
    border-radius: 50px;
}
#displaydataModal .title-text {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #4f4f4f;
    margin-bottom: 5px;
    font-weight: normal;
}
#displaydataModal .date-time {
    font-size: 22px;
    line-height: 26px;
    color: #4f4f4f;
    font-weight: 700;
}
#displaydataModal hr, #ratingModal hr {
    border-color: #e1e1e1;
    margin: 12px 0;
}
#displaydataModal .NetAmount {
    font-size: 26px;
    line-height: 26px;
    color: #1d7a8c;
    font-weight: 700;
    display: inline-block;
    margin-left: 5px;
}
#displaydataModal .action-btn img{
    vertical-align:top;
    margin-right:4px;
}
#AccepetedSp .row, #spDetails .row {
    display: -webkit-inline-box;
}
#AccepetedSp p {
    margin-bottom: 0px;
}
#spDetails .row{
    font-size:15px;
}
#displaydataModal .modal-body {
    display: flex;
}
#CancleSuccessfulyDone span {
    display: inline-block;
    background: #67b644;
    padding: 27px;
    border-radius: 363px;
    margin-bottom: 25px;
}

#CancleSuccessfulyDone span img {
    display: block;
}

#CancleSuccessfulyDone h3 {
    margin: 0 0 20px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}
#RescheduleError h3 {
    margin: 0 0 20px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color:red;
}
#CancleSuccessfulyDone a,#RescheduleError a {
    width: auto;
    background: #1d7a8c;
    border-color: white;
    font-size: 16px;
    padding: 9px 20px;
    border-radius: 40px;
    transition: all .5s;
    color: white;
}

#CancleSuccessfulyDone a:hover, #RescheduleError a:hover {
    color: #1d718c;
    background: white;
    border-color: #1d7a8c;
}

#CancleSuccessfulyDone .modal-dialog {
    max-width: 400px;
}

/*//////////////////block customer///////////*/
#FavProTbl {
    border: none !important;
}

#FavProTbl tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#FavProTbl tbody tr {
    margin: 15px;
    border: 1px solid #E1E1E1;
}

#FavProTbl tbody td {
    display: flex;
    justify-content: center;
    min-width: 275px;
}

.BlockBtn, .UnBlockBtn {
    background-color: #ff6b6b;
    color: white;
    border-radius: 50px;
    padding: 5px 10px;
    margin: 5px 10px;
}

.BlockBtn:hover, .UnBlockBtn:hover {
    background-color: #cc5656;
}

.FavBtn, .UnFavBtn {
    background-color: #1d7a8c;
    color: white;
    border-radius: 50px;
    padding: 5px 10px;
    margin: 5px 10px;
}

.FavBtn:hover, .UnFavBtn:hover {
    color: white;
    background-color: #096172;
}

#FavProTbl tbody td img {
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 2px;
    height:80px;
}

.ProName {
    font-size: 18px;
    color: #646464;
    font-weight: bold;
}
#SuccessModal h3 {
    color: darkslategrey;
}

#SuccessModal a{
    width: auto;
    padding: 11px 34px;
    background: #1d7a8c;
    border: none !important;
    font-size: 16px;
    line-height: 24px;
    color: #fff !important;
    transition: all .3s ease;
    margin: 10px 0;
    border-radius: 50px;
}

.serviceSummary:hover,.serDetails:hover {
    color: black;
    cursor: pointer;
    font-weight: 500;
}
/*//////////////  Service Schedule//////////////////*/
#ServiceSchedule #calendar {
    max-width: 100%;
    margin: 40px auto;
    padding: 0 10px;
}

.fc-title {
    color: white;
}

.fc-content {
    cursor: pointer;
}

#calendar .fc-toolbar h2 {
    color: #646464;
    font-weight: 400;
    font-size: 25px;
}
#ServiceSchedule {
    position: relative;
}

#ServiceSchedule #CustomBtn {
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    right: 9px;
    top: -1px;
}

#ServiceSchedule #CustomBtn ul li {
    display: inline-block;
    font-size: 14px;
    line-height: 44px;
    position: relative;
    padding-left: 22px;
}

#ServiceSchedule #CustomBtn ul li:before {
    content: "";
    position: absolute;
    height: 17px;
    width: 17px;
    background: #1d7a8c;
    display: block;
    left: 0;
    top: 50%;
    margin-top: -9px;
}

#ServiceSchedule #CustomBtn ul li + li {
    margin-left: 15px;
}

#ServiceSchedule #CustomBtn ul .completed:before {
background: #efefef;
border: 1px solid #86858b;
}
.fc-content-skeleton table thead tr td.fc-day-number {
    text-align: right;
}

/*//////////////  MY SETTING  TABLE//////////////////*/

/*MySetting CSS*/
#pills-details .date-dropdowns select {
    background: #fff;
    font-size: 16px;
    line-height: 20px;
    color: #646464;
    padding: 12px 15px;
    box-shadow: none;
    border: 1px solid #dedddd;
    resize: vertical;
    height: 45px;
    display: inline-block;
}
#pills-details .date-dropdowns .month{
    margin:0px 20px;
}
#pills-details #languageId{
    width:auto;
}
#pills-tab-setting .tab-img {
    display: none;
}
#MySetting #addNewAddBtn, #Dashboard #cancleServiceMdodelBtn, #Dashboard #rescheduleServiceUpdateBtn {
    cursor: not-allowed;
}
#MySetting {
    color: #646464;
}

#MySetting .nav-pills .nav-link.active {
    color: #1d7a8c;
    background: 0 0;
    border: none !important;
    border-bottom: 4px solid #1d7a8c !important;
}
#MySetting .nav-pills .nav-item .active .tab-img img{
   filter: invert(38%) sepia(31%) saturate(1012%) hue-rotate(142deg) brightness(97%) contrast(90%);
}
#MySetting .nav-pills .nav-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #646464;
    border: none;
    border-radius: 0;
    border-bottom: 4px solid #e1e1e1;
    padding: 15px 0;
    margin-bottom: 0;
    white-space: nowrap;
}
#MySetting .nav-pills li a:hover {
    color: #1d7a8c;
    background: 0 0;
    border: none !important;
    border-bottom: 4px solid #1d7a8c !important;
}
#pills-details #updateDetailsBtn, #pills-password #updatePassBtn {
    background: #1d7a8c;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    transition: all .3s ease;
    padding: 11px 25px;
    border-radius: 30px;
    cursor: not-allowed;
}
#MySetting .control-label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    color:#646464;
}
#loadMoreAddBtn {
    border-color: #c6c6c6;
    color: #666;
    transition: all .3s ease;
    background: 0 0;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 20px;
    border-radius: 50px;
}
#MySetting .form-control {
    background: #fff;
    font-size: 16px;
    line-height: 20px;
    color: #646464;
    padding: 12px 15px;
    box-shadow: none;
    border: 1px solid #dedddd;
    resize: vertical;
    height: 45px;
}
#MySetting .form-group .input-group-add{
    font-size: 16px;
    line-height: 20px;
    border-color: #dedddd;
    padding: 11px 12px;
    font-weight: 400;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0;
}

#MySetting #language{
    width:auto;
}
#MySetting .inner select{
    padding:0 5px;
}
#myAddressTbl {
    border: 1px solid #e5e5e5;
    width:100%;
    color:#646464;
}
#myAddressTbl thead {
    background: #f3f3f3;
    border-bottom: 2px solid #e1e1e1;
}
#myAddressTbl thead tr th{
    padding: 10px 15px;
    font-weight:normal;
}
#myAddressTbl thead tr th:nth-child(1){
    padding:10px 15px 10px 50px;    
}
#myAddressTbl tbody tr td{
    padding: 15px;
    vertical-align: middle;
}
#myAddressTbl tbody tr td:nth-child(2){
    padding:15px 15px 15px 50px;
}
#myAddressTbl .userAddressDetails span {
    display: inline-block;
    line-height: 24px;
}
#myAddressTbl .userAddressDetails span:nth-child(1){
    display:block;
}
#myAddressTbl .action-buttons a {
    color: transparent;
    display: inline-block;
    position: relative;
    padding: 5px;
}
#myAddressTbl tbody tr td{
    background:unset;
}
#MySetting #EditAddBtn{
    cursor:not-allowed;
}
#MySetting #DeleteAddBtn {
    background: #1d7a8c;
    border: none !important;
    font-size: 16px;
    line-height: 24px;
    color: #fff !important;
    transition: all .3s ease;
    padding: 7px 20px;
    width:auto;
    cursor:pointer;
}
#MySetting .EditAdd, #MySetting .DeleteAdd{
    cursor:pointer;
}
#MySetting #NewCity, #MySetting #EditCity, #MySetting #email {
    background:#e1e1e1!important;
}
/*/////////////// FOOTER ////////////// */
footer {
    background-color: #111111;
    width: 100%;
    color: white;
    /* height: 195px; */
}
footer .container a {
text-decoration: none;
color: #F1F1F1;
font-size: 14px;
}
.fmenu{
padding-top: 20px;
max-width: 1350px;
}
.hr-line{
max-width: 1320px;
margin: 0 auto;
margin-top: 10px;
}
.hr-line hr{
border-bottom: 1px solid grey; 
width: 100%;
}
.fimg1 {
width: 9px;
height: 18px;
margin-right: 20px;
}
.fimg2 {
width: 20px;
height: 20px;
}

footer p{
margin-bottom: 0px !important;
}
  
.right{
color: #737381;
font-size: 14px;
padding-top: 15px;
padding-bottom: 20px !important;
}

.fmenulink a:hover {
    color: tomato;
    transition: all .5s;
}

@media screen and (max-width: 996px) {
.fmenu{
    height: auto;
}
}
@media screen and (max-width: 346px) {
.fmenu{
    height: auto;
}
}
@media screen and (max-width: 1415px) {
.fimage {
    margin-top: 61px;
    float: none;
    text-align: center;
    padding-bottom: 20px;
}
}
    
@media screen and (max-width: 907px) {
     
    .fmenulink{
    flex-direction: column;
    }
}
@media screen and (max-width: 460px) {
    .fmenu{
    flex-direction: column;

    }
    .fmenulink{
    margin: 13px 0px;
    }
    .fmenulink a{
    margin: 3px 0px;
    }
    .flogo{
    margin:10px 0px 0px 0px;
    }
}
@media screen and (max-width: 344px) {
    .submitbtn {
    margin-top: 10px;
    }
}
@media screen and (max-width: 523px) {
    footer{
    height: auto;
    /* width: fit-content; */
    }
#displaydataModal .modal-body {
    flex-direction:column-reverse;
}

}
@media screen and (max-width: 576px) {
    .iconcolumn{
        margin-top:30px ;
    }
    #rescheduleModal .modal-dialog, #cancleModal .modal-dialog{
        margin:1.75rem auto;
    }
    #pills-tab-setting .tab-img{
        display:block;
    }
    #pills-tab-setting .tab-title{
        display:none;
    }
    #ServiceSchedule #CustomBtn{
        display:none;
    }
}
@media screen and (max-width: 1087px) {
    .navbar{
    display: none;
    }
    .notification_item {
        display: block;
    }

    .mobileNotification, .mobileNotification .notification_item {
        display: block;
    }
    
    #sidebar-wrapper {
        display: none;
    }
        
    .mobileNav{
    display: block;
    }

      
}
@media screen and (max-width:508px){
    #AddNewServiceBtn a{
        font-size: 22px;
        color: #646464;
        font-weight: bold;
        background:unset;
        text-align:right;
    }
    #AddNewServiceBtn{
        text-align:right;
    }
}
@media screen and (max-width:700px){
    #page-content-wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
    #ServiceHistoryTblData tr td:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .table-bottom {
        flex-wrap: wrap;
    }

    #page-content-wrapper .table-bottom-inner {
        justify-content: space-between;
        width: 100%;
    }

    #page-content-wrapper .dataTables_paginate {
        width: 100%;
    }
    .mobile_sorting {
        display: block;
    }

    .date {
        margin: 0px 5px;
    }
    .dataTable {
        border: unset;
    }

    .dataTable tr {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #e1e1e1;
        margin-top: 20px;
        margin-bottom: 20px;
        background: #f9f9f9;
        box-shadow: 0 0 10px rgb(0 0 0 / 30%);
        -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 30%);
        -moz-box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    }

    table.dataTable.no-footer {
        width: 100% !important;
    }

    .dataTable tr td {
        width: 100%;
        background: unset !important;
        margin-top: 0px !important;
        height: unset;
    }

    #service_history_table tr td:nth-child(1) {
        text-align: center;
    }

    #service_history_table tr td:nth-child(2), #Dashboard_table tbody tr td:nth-child(2), #Dashboard_table tbody tr td:nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dataTable tr th {
        display: none;
    }
    /*dashboard css*/
    #Dashboard_table thead, #ServiceHistory thead {
        display: none;
        background: unset;
    }

    #Dashboard_table, #service_history_table {
        border: none;
    }

        #Dashboard_table tbody tr td {
            text-align: center;
            background: unset;
        }
}
    

