@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif !important;
  scroll-behavior: smooth;
}

/*/////////////// NAVBAR////////////// */
nav{
  background-color: #525252;
}
.navbar{
  padding: 0rem 0.5rem;
}
.navbar-nav{
  height: 40px;
}
  .navbar-nav a{
    padding: 7px 18px !important;
}
  .navbar-brand img {
    width: 73px;
    height: 54px;
    margin-left: 5px;
  }
.nav-item:nth-child(1) .menu, .nav-item:nth-child(6) .menu, .nav-item:nth-child(7) .menu {
    background-color: rgba(0,95,113,.6);
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
}
    .nav-item:nth-child(1) .menu:hover, .nav-item:nth-child(6) .menu:hover, .nav-item:nth-child(7) .menu:hover {
        color: #006072 !important;
        background-color: white;
        border-color: #006072;
        transition: all .5s;
    }
 
.menu {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 10px 15px !important;
    margin: 0px 6px;
}
  
  .menu:hover {
    border-radius: 25px;
    border: 1px solid white;
    color: white;
    background-color: #29626D;
  }
  
  .fixed-top {
    background-color: rgba(39,39,39,.7)!important;
}
.bg{
    height: auto;
    width: 100%;
    margin-top:64px;
}
    
  
/* mobile nav start */
  
  
.mobileNav{
    top: 0;
    z-index: 100;
    display: none;
    background-color: #525251;
}
.mobileLogo{
    height: 55px;
    width: 73px;
    margin-left: 10px;
}
.mobileNavSpaccing{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
}
.sideNav{
    display: flex;
    position: fixed;
    top: 0px;
    width: 100vw;
    min-height: 100vh;
    z-index: 1000;
    left: 100vw;
    transition: left 0.35s;
    display: flex;
    align-items: center;
    justify-content: end;
}
.sideNav.open{
    left: 0;
      
    background-color: rgba(95, 95, 95,0.6);
      
}
.sideNav.toggle{
    height: 350px;
    border: 1px solid #ffffff;
    /* width:50% */
    float: right;
}
.menubtn{
    margin-right: 15px;
}
.closebtn{
      
    height:60px;
    text-align: end;
}
.openSidenav{
    width:50vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1000;
    overflow: scroll;
}
.navbar-toggler {
    display: block;
    width: 55px;
    padding: 10px;
    font-size: 0;
    border: 2px solid white;
    border-radius: 5px;
}
.navbar-toggler  span{
    display: block;
    height: 3px;
    background-color: white;
}
.navbar-toggler  span:nth-child(2){
    margin: 6px 0;
}
.closebtn img{
height: 50px;
width: 50px;
margin: 0 auto;
}
.openSidenav p{
margin-bottom: 0px;
}
.mobileNavMenu{
color: black!important;
text-decoration: none;
}
.openSidenav ul li{
list-style: none;
margin-bottom: 10px;
margin-left: 15px;
}
.hidden{
display: none !important;
    
}
  /* mobile nav end */


/*form AFTER LOGIN NAVBAR*/

.notification {
    height: 32px;
    width: 29px;
    cursor: pointer;
}

.notification_number {
    position: absolute;
    border-radius: 50%;
    background: red;
    color: white;
    top: 3px;
    right: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification_item {
    position: relative;
}

.notification_item::after {
    content: '';
    position: absolute;
    background: white;
    width: 1px;
    height: 100%;
    right: 0px;
    top: 0;
}

.notification_item::before {
    content: '';
    position: absolute;
    background: white;
    width: 1px;
    height: 100%;
    left: 0px;
    top: 0;
}

.user_setting button {
    background: none;
}
.user-setting {
    top: 125%;
}

.user_setting .dropdown-menu:before {
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    right: 35px;
}
.userInfoItem {
    color: #4f4f4f;
    margin: 5px 0;
    padding: 5px 5px;
    font-size: 15px;
}

.user_setting .btn {
    padding: 0.1rem 1.3rem;
}


  /*/////////////////// PRICE/////////// */
  
.heading{
margin-top: 38px;
}
.heading{
color: #4F4F4F;
font-size: 35px;
display: block;
}
  
.star {
margin: 9px 0px 40px 0px;
}
.star img{
margin: 0px 9px;
}
  
  
.prCard {
border: 1px solid #b0c9ce;
max-width: 553px;
padding-bottom: 10px;
margin: auto;
margin-top: 42px;
}
.prHeading {
font-size: 28px;
font-weight: bold;
padding: 12px 0 13px;
color: #fff;
background: #1d7a8c;
}
  
.prText {
font-size: 48px;
font-weight: bold;
margin: 18px 0 30px;
color: #646464;
line-height: 48px;
position: relative;
}
.prText sub{
font-weight: 400;
}
  
.prCaptionItem img {
margin-right: 9px;
}
.prCaptionItem {
max-width: 553px;
margin: auto;
margin-bottom: 24px;
color: #646464;
font-size: 16px;
}
.side_hr{
width: 62px;
}
.phr{
width: 73%;
margin-top: 51px;
/* margin-bottom: 41px; */
}
  
/* <!-- /////////////////// SERVICE////////////////// --> */
/* .service{
margin: 0px 230px ;
} */
  
.serviceImage {
border: 1px solid #b0c9ce;
width: 108px;
height: 108px;
margin: auto;
transition: all 0.3s;
}
.serviceImage:hover{
transform: rotate(360deg);
}
.serviceText {
font-size: 16px;
margin: 17px 0 9px;
color: #646464;
}
.servicefeature{
margin-bottom: 55px;
}
  
.serviceTime {
font-size: 18px;
color: #1d7a8c;
font-weight: bold;
}
.prCaption.row{
margin-right: 0px;
}
/* <!-- /////////////////// FEATURE////////////////// --> */
.feature{
background-color: #F6F6F6;
}
.feature .heading {
padding-top: 73px;
}
.feature_img{
width: 360px;
height: 210px;
}
.feature_header{
margin-top: 20px;
color: #4F4F4F;
font-size: 20px;
font-weight: bold;
}
.feature_container{
padding-bottom: 80px;
}
.feature_text img{
height: 20px;
width: 20px;
margin-right: 9px;
}
.feature_card p{
margin-bottom: 14px !important;
}
.feature_card{
border: none !important;
background-color: #F6F6F6 !important;
transition: all 0.3s;
}
.feature_card:hover{
transform: scale(1.1);
}
.feature_text{
    
color: #4F4F4F;
font-size: 16px;
}
  
/*////////////// WHY WE////////////// */
.why_we_container{
padding-bottom: 50px;
}
.why_we h2{
padding-top: 71px;
font-size: 36px;
color: #4F4F4F;
}
.why_we_header1,.why_we_header2{
font-size: 20px;
color: #646464;
font-weight: bold;
}
.why_we_text1,.why_we_text2{
font-size: 14px;
color: #646464;
}
.why_we_header1,.why_we_text1{
text-align: right;
}
.certificate{
width: 375px;
height: 241px;
}
.contact{
margin-top: 55px;
font-size: 18px;
}
.submitbtn {
background-color: #ff7b6d;
color: white;
border-radius: 50px;
margin-left: 11px;
}
#email {
width: 233px;
border-radius: 50px;
background: none;
color: black;
border-color: black;
display: inline-block;
}
.why_we h3{
font-size: 18px;
color: #353548;
}
form {
margin-top: 20px;
padding-bottom: 53px;
}
  
/*////////////// UP ARROW ////////////// */
  
.up_arrow {
float: left;
width: 50px;
height: 50px;
position: relative;
border-radius: 50%;
background-color: #525252;
}
.up_arr {
bottom: 20px;
left: 45px;
position: fixed;
}
.uparr_pos {
left: 28%;
top: 37%;
position: absolute;
}
.chatimg {
float: right;
width: 50px;
height: 50px;
position: relative;
}
.chat {
bottom: 30px;
right: 55px;
position: fixed;
}
  
/*////////////// FOOTER////////////// */
  
footer{
background-color: #111111;
width: 100%;
color: white;
height: auto;
}
footer .container a {
text-decoration: none;
color: #F1F1F1;
font-size: 14px;
}
.fmenu{
padding-top: 20px;
max-width: 1350px;
}
.fimg1 {
width: 9px;
height: 18px;
margin-right: 20px;
}
.fimg2 {
width: 20px;
height: 20px;
    
}

.hr-line{
max-width: 1320px;
margin: 0 auto;
margin-top: 10px;
}
.hr-line hr{
border-bottom: 1px solid grey; 
width: 100%;
}
.right{
color: #737381;
font-size: 14px;
padding-top: 15px;
padding-bottom: 20px !important;
}
footer p{
margin-bottom: 0px !important;
}
.fmenulink a:hover {
    color: tomato;
    transition: all .5s;
}
  
  
  @media screen and (min-width:576px) {
    .modal-dialog{
      max-width: 400px;
    }
    
  }
  @media screen and (max-width: 996px) {
    .fmenu{
      height: auto;
    }
  }
  @media screen and (max-width: 1415px) {
    .fimage {
      margin-top: 61px;
      float: none;
      text-align: center;
      padding-bottom: 20px;
      }
     
  }
    @media screen and (max-width: 1350px) {
    .up_arr {
        bottom: 20px;
    left: 10px;
    }
       
    }
    @media screen and (max-width: 460px) {
    .fmenu{
        flex-direction: column;
  
    }
    .fmenulink{
        margin: 13px 0px;
    }
    .fmenulink a{
        margin: 3px 0px;
    }
    .flogo{
        margin:10px 0px 0px 0px;
    }
        
    }
      
    @media screen and (max-width: 907px) {
    .submitbtn {
        margin-top: 10px;
    }
    .fmenulink{
        flex-direction: column;
    }
    }
    @media screen and (max-width: 523px) {
    footer{
        height: auto;
          
    }
    }
    @media screen and (max-width: 992px) {
     
    .menu2{
    margin-top: 10px;
    }
    }
    @media screen and (max-width : 570px ) {
    .service {
        margin: 0px 10px;
    }
}
    @media screen and (max-width : 990px ) {
    .why_we_header1,.why_we_text1{
        text-align: left;
    }
}
    @media screen and (max-width : 854px) and (min-width:569px ) {
       
    .servicefeature{
    margin: 0 auto;
    justify-content: center;
    }
}
@media screen and (max-width : 769px) {
    .servicefeature{
    flex-direction: column;
    }
      
}
    @media screen and (max-width : 1198px ) {
    .feature_row{
            flex-direction: column;
            align-items: center;
    }
    }
    @media screen and (max-width : 1037px ) {
    .navbar{
        display: none;
    }
    .mobileNav{
        display: block !important;
    }
    .bg{
        margin-top:54px;
    }
    }
@media screen and (min-width : 1200px) {
  .service .container{
    max-width: 1080px;
  }
  
}
@media screen and (max-width : 767px) {
  .why_we_column:nth-child(2){
    text-align: center;
  }
  
}

