#save {
    padding: 4px 29px;
    color: white;
    background: rgba(0,95,113);
    border-radius: 20px;
    cursor: not-allowed;
    transition: all .5s;
}
    #save:hover {
        color: rgba(0,95,113);
        background: white;
        border: 1px solid rgba(0,95,113);
    }
 .main{
     max-width:500px;
     margin-top:100px;
 }
.heading h2 {
    color: #4F4F4F;
    font-size: 35px;
    display: block;
}
.main hr {
    width: 200px;
}

.star {
    margin-top: 9px;
}
.star img {
    margin: 0px 9px;
}
 