@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  }


  
  /*///////////////////// Navbar start///////////////// */
  nav{
      background-color: #1FB6FF;
  }
  h1 a{
      font-size: 2.5rem;
  }
  nav span{
      font-size:16px ;
  }
  .navbar-toggler span {
    display: block;
    height: 3px;
    background-color: white;
}
.navbar-toggler span:nth-child(2) {
    margin: 6px 0;
}
.navbar-toggler {
    display: block;
    width: 55px;
    padding: 10px;
    font-size: 0;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 15px;
}




  /*///////////////////// NAvbar End///////////////// */



  /*/////////////////////Side menu start///////////////// */
  
    #sidebar-wrapper.open,#sidebar-wrapper{
        width: 25%;
        background-color: white;
        /* display: block; */
    }
    #sidebar-wrapper.close{
        width: 0%;
        /* display: none; */
    }
    .dashboard{
        padding-left: 0px !important;
    }
    #sidebar-wrapper ul li{
        padding: 17px 0px 18px 14px;
        list-style: none;
        border-bottom: 1px solid #E1E1E1;
       
        background: white;
    }
    #sidebar-wrapper ul li a{
        text-decoration: none;
        font-size: 16px;
        color: #646464;
    }
    #sidebar-wrapper ul li a.active{
        color: #1FB6FF;
    }
    .main{
        background-color: #f2f4f5;
    }
    .mobileNavIcon{
        display: none;
    }
    .submenu.close{
        height: 0;
        display: none;
    }
    .submenu.open{
        height: 100px;
        display: block;
    }

  /*///////////////////// side menu end///////////////// */

#page-content-wrapper{
    background-color:  #f2f4f5;
}
.datatable_heading{
    margin: 29px 0px 14px 0px;
}
.datatable_heading > div{
    font-size: 22px;
    color: #646464;
    font-weight: bold;
}
.addBtn button{
    background-color: #1fb6ff;
    color: white;
    border: none;
    font-size: 14px;
    padding: 12px 10px ;
    border-radius: 5px;
}
.closebtn{
    display: none;
}
.closebtn.show{
    display: none;
}
.closebtn img{
    height: 35px;
    width: 35px;
    float: right;
}
@media screen and (min-width:650px) and (max-width:837px) {
    td .threeDotsubMenu{
        position: absolute;
        right:15px;
        top:86px;
    }
      
  }
 


  #from-date,#to-date,  #to-date { 
    background-image: url(../image/admin_ServiceRequest/calendar.svg);
    background-repeat: no-repeat;
    text-indent: 25px;
    background-position-y:center ;
    background-position-x:5px ;
}


  









  /*///////////////////// right side///////////////// */
.dt-buttons{
    display: none;
}
table th{
    cursor: pointer;
}

table tr td:nth-child(5),table tr th:nth-child(5){text-align: -webkit-center;}
table tr td:nth-child(6),table tr th:nth-child(6){text-align: -webkit-center;}
table{
    color: #646464;
}
#page-content-wrapper .filter .col-xl-1{
    padding-right: 7px ;
    padding-left: 7px ;
} 
table tr th, table tr td{
    height: 55px;
}
.table td, .table thead th{
    vertical-align: middle;
}

table.dataTable thead th, table.dataTable thead td,table.dataTable.no-footer {
    border-bottom: 1px solid #E1E1E1; 
}
table.dataTable thead .sorting{
    background-image: url(../image/upcoming_service/arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
  table.dataTable thead .sorting_asc {
    background-image: url(../image/service_history/decendingSort.png) !important;
    background-repeat: no-repeat;
    background-position: right;
  }
  table.dataTable thead .sorting_desc {
  background-image: url(../image/service_history/acendingSort.png) !important;
  background-repeat: no-repeat;
    background-position: right;
  }
  .filter select, .filter .row, .filter input{
      width: 100%;
      height: 45px;
    
  }
  .filter select,.filter input{
    border: 1px solid #DEDDDD;
    border-radius: 5px;
    color: #A0A0A0;
    padding: 5px;
  }
  .mobile{
      margin-left: 0px;
  }
#page-content-wrapper form{
    background-color: white;
    padding: 17px 20px;
}
#search{
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    background-color: #1FB6FF;
    border:none;
    border-radius: 5px;
}
#clear{
    padding: 12px 20px;
    color: #646464;
    font-size: 16px;
    border:1px solid #DEDDDD;
    border-radius: 5px;
    background-color: white;
}
.img_circle img{
    border: 1px solid #646464;
    border-radius: 50%;
    padding: 10px 6px;
  }
  .sp_icon{
    max-width: 65px;
  }
  
  .Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    
    display: inline-block;
    font-size: 25px;
    font-family: Times;
    line-height: 1;
    
  }
  .Stars::before {
    content: '★★★★★';
    /* letter-spacing: 3px; */
    background: linear-gradient(90deg, #fc0 var(--percent), rgb(173, 170, 170) var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
table{
    border: 1px solid #E1E1E1;
}
tbody{
    background-color: white ;
}
table tbody tr td p {
    margin-bottom: 0px;
}
.new span,.pending span,.Completed span,.Cancel span{
    color: white;
    padding: 5px 10px;
    font-size:13px ;
}
.new span{
    background-color: #F2BB37;
}
.pending span{
    background-color: #1FB6FF;
}
.Completed span{
    background-color: #67B644;
}
.Cancel span{
    background-color: #FF6B6B;
}
.dataTables_wrapper .dataTables_length{
    color: #646464;
    margin-top: 10px;
    padding-left: 20px;
}
.table-bottom{
    background-color: white;
    border: 1px solid #E1E1E1;
    padding:10px 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    color: white !important;
    background: #565656;
}
.dataTables_wrapper .dataTables_paginate .paginate_button,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
    border: 1px solid #D6D6D6;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.last,.dataTables_wrapper .dataTables_paginate .paginate_button.first{
    display: none;
}

.rights{
    font-size: 14px;
    color: #A2A6A8;
    margin-top: 22px;
}
.action{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
.action:hover{
    background-color: #F4F4F4;
}
.action span{
    display: block;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: #646464;
}
.action span:nth-child(2){
    margin: 3px 0;
}
.actionbutton {
  
  position: relative;
}
.threeDotsubMenu ul {
  padding: 15px 13px;
  margin: 0;
}

.threeDotsubMenu li {
  text-align: left;
  list-style: none;
  margin-bottom: 5px;
}

.threeDotsubMenu a {
  color: #646464;
  font-size: 16px;
  text-decoration: none;
}
.threeDotsubMenu::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: -6px;
  right: 25px;
  transform: rotate(45deg);
  background-color: white;
  box-shadow: -5px -5px 6px #00000040;

}

.threeDotsubMenu {
  display: none;
  position: absolute;
  right: 32px;
  top: 57px;
  width: 160px;
  /* height: 113px; */
  background-color: white;
  border-radius: 4px;
  border: 1px solid #D6D6D6;
  box-shadow: 0px 0px 6px #00000040;
  z-index: 10;
}



  @media screen and (max-width:650px) {
      table{
          display: block;
          overflow-x: auto;
          white-space: nowrap;
      }
      .table-bottom{
          display: flex;
          flex-direction: column;
      }
      .table-bottom-inner{
          align-items: center;
          justify-content: center;
      }
      

  }
  @media screen and (max-width:1089px){
    .mobileNavIcon{
        display: block;
        display: flex;
    }
    #page-content-wrapper .filter .col-xl-1{
        padding-left: 15px;
        padding-right: 15px;
    }
    #sidebar-wrapper{
        display: none;
    }
    #sidebar-wrapper.open{
        position: fixed;
        left: 0;
        top: 0;
        width: 40%;
        z-index: 1000;
        display: block;
        height: 100vh;
        overflow:scroll ;
      }
      .closebtn,.closebtn.show{
          display: block;
      }
  }
  @media screen and (max-width: 1200px) {
    .filter > div{
        margin-bottom: 10px;
    }
    .filter .col-xl-1{
        text-align: center;
    }
  }
  @media screen and (min-width:859px) and (max-width:1434px) {
    td .threeDotsubMenu{
        position: absolute;
        right:25px;
    }
      
  }
  @media screen and (min-width:837px) and (max-width:859px) {
    td .threeDotsubMenu{
        position: absolute;
        right:15px;
        top: 75px;
    }
      
  }
  





