@model Helperland.Models.ViewModels.ResetPass
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link href="~/css/resetPass.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/image/home/favicon.ico" type="image/x-icon" />
    <title>Change Pass | Helperland</title>
</head>

<body>
    <div class="main container justify-content-center align-items-center">
        <form asp-controller="Account" asp-action="ResetPass" method="post">
            @if (ViewBag.Resetpasserror == true)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>
                        Enter Valid Password
                    </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            }
            <div class="form-group">
                <label class="text-dark" asp-for="password">New Password</label>
                <input asp-for="password" class="form-control" id="NewPass" placeholder="Password">
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-dark" asp-for="confirmPassword">Confirm Password</label>
                <input asp-for="confirmPassword" class="form-control" id="ConfirmPass" placeholder="Confirm Password">
                <span id="passerror" asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" id="save" class="btn" disabled="disabled">Save</button>
            </div>
        </form>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>

    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script>
        $("#ConfirmPass").keyup(function () {
            if ($('#NewPass').val() != $('#ConfirmPass').val()) {
                $('#passerror').html('Password doesnot match');
                $('#save').prop('disabled', true);
                $('#save').css('cursor', 'not-allowed');
            } else {
                $('#passerror').html('');
                $('#save').prop('disabled', false);
                $('#save').css('cursor', 'pointer');
            }
        });
    </script>
</body>
</html>