@section css{
    <link rel="stylesheet" href="~/css/about.css" />
}

<section>
    <div> <img src="~/image/about/main.png" class="img-fluid bg_main" alt="mainimage" /> </div>

</section>
<!-- /*/////////////// ABOUT US ////////////// */ -->
<section>
    <div class="container about">
        <h2 class="text-center aboutusHeading1">A Few words about us</h2>
        <div class="d-flex justify-content-center star">
            <hr / class="side_hr"> <img src="~/image/price/star.png" />
            <hr / class="side_hr">
        </div>
        <div class="caption text-center">
            <div class="innertext">
                We are providers of professional home cleaning services, offering hourly based house cleaning options, which mean that you don’t have to fret about getting your house cleaned anymore. We will handle everything for you, so that you can focus on spending your precious time with your family members.
            </div>
            <div class="innertext">
                We have a number of experienced cleaners to help you make cleaning out or shifting your home an easy affair.
            </div>
        </div>
        <h2 class="text-center aboutusHeading2">Our Story</h2>
        <div class="d-flex justify-content-center star">
            <hr / class="side_hr"> <img src="~/image/price/star.png" />
            <hr / class="side_hr">
        </div>
        <div class="caption text-center">
            <div class="innertext">
                A cleaner is a type of industrial or domestic worker who cleans homes or commercial premises for payment. Cleaners may specialise in cleaning particular things or places, such as window cleaners. Cleaners often work when the people who otherwise occupy the space are not around. They may clean offices at night or houses during the workday.
            </div>

        </div>
    </div>
</section>
<!-- /////////////SUBSCRIBE///////////// -->
<section>
    <h3 class="text-center contact"><strong>GET OUR NEWSLETTER</strong></h3>
    <form class="text-center subscribeEmail">
        <div class="form-group">
            <input type="email" id="email" class="form-control" placeholder="Your Email" />
            <button type="button" class="btn submitbtn">Submit</button>
        </div>
    </form>
</section>
@section script{
    
    <script src="~/js/about.js"></script>
}
