
@section css{
    <link rel="stylesheet" href="~/css/price.css" />
}

<section>
    <div> <img src="~/image/price/main.png" class="bg" /> </div>

</section>
<!-- /////////////////// PRICE////////////////// -->
<section class="price">
    <div class="container">
        <div class="heading">
            <h2 class="text-center">Prices</h2>
        </div>
        <div class="d-flex justify-content-center star">
            <hr / class="side_hr"> <img src="~/image/price/star.png" />
            <hr / class="side_hr">
        </div>
        <div class="prCard">
            <div class="prHeading text-center">One Time</div>
            <div class="prText d-flex align-items-center justify-content-center">&euro;18<sub>/hr</sub></div>
            <div class="prCaption row">
                <div class="prCaptionItem  col-sm-8 col-md-7 col-11"> <img src="~/image/price/tickmark.svg" alt="tick" /> Lower prices </div>
                <div class="prCaptionItem  col-sm-8 col-md-7 col-11"> <img src="~/image/price/tickmark.svg" alt="tick" /> Easy online & secure payment </div>
                <div class="prCaptionItem  col-sm-8 col-md-7 col-11"> <img src="~/image/price/tickmark.svg" alt="tick" /> Easy amendment </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <hr / class="phr">
    </div>
</section>
<!-- /////////////////// SERVICE////////////////// -->
<section class="service">
    <div class="container">
        <div class="heading">
            <h2 class="text-center">Extra services</h2>
        </div>
        <div class="d-flex justify-content-center star">
            <hr / class="side_hr"> <img src="~/image/price/star.png" />
            <hr / class="side_hr">
        </div>
        <div class=" d-flex flex-wrap  align-items-center justify-content-between servicefeature">
            <div>
                <div class="serviceImage rounded-circle d-flex justify-content-center align-items-center "> <img src="~/image/price/cabinet.svg" alt="InsideCabinets" /> </div>
                <div class="serviceText text-center">Inside Cabinets</div>
                <div class="serviceTime text-center">30 minutes</div>
            </div>
            <div>
                <div class="serviceImage rounded-circle d-flex justify-content-center align-items-center "> <img src="~/image/price/fridge.svg" alt="InsideFridge" /> </div>
                <div class="serviceText text-center">Inside Fridge</div>
                <div class="serviceTime text-center">30 minutes</div>
            </div>
            <div>
                <div class="serviceImage rounded-circle d-flex justify-content-center align-items-center "> <img src="~/image/price/oven.svg" alt="InsideOven" /> </div>
                <div class="serviceText text-center">Inside Oven</div>
                <div class="serviceTime text-center">30 minutes</div>
            </div>
            <div>
                <div class="serviceImage rounded-circle d-flex justify-content-center align-items-center "> <img src="~/image/price/laundary.svg" alt="LaundryWash" /> </div>
                <div class="serviceText text-center">Laundry Wash & Dry</div>
                <div class="serviceTime text-center">30 minutes</div>
            </div>
            <div>
                <div class="serviceImage rounded-circle d-flex justify-content-center align-items-center "> <img src="~/image/price/window.svg" alt="Interiorwindows" /> </div>
                <div class="serviceText text-center">Interior Windows</div>
                <div class="serviceTime text-center">30 minutes</div>
            </div>
        </div>
    </div>
</section>
<!-- /////////////////// FEATURE ////////////////// -->
<section class="feature">
    <div class="heading">
        <h2 class="text-center">What we include in cleaning</h2>
    </div>
    <div class="d-flex justify-content-center star">
        <hr / class="side_hr"> <img src="~/image/price/star.png" />
        <hr / class="side_hr">
    </div>
    <div class="container feature_container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="card  feature_card">
                    <img src="~/image/price/img1.png" class="card-img-top img-fluid" alt="..." />
                    <h5 class="feature_header">Bedroom and Living Room</h5>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Dust all accessible surfaces</p>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Wipe down all mirrors and glass fixtures </p>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Clean all floor surfaces </p>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Take out garbage and recycling</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card  feature_card">
                    <img src="~/image/price/img2.png" class="card-img-top img-fluid" alt="..." />
                    <h5 class="feature_header">Bathrooms</h5>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Wash and sanitize the toilet, shower, tub, sink</p>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Dust all accessible surfaces </p>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Wipe down all mirrors and glass fixtures</p>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Clean all floor surfaces</p>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Take out garbage and recycling</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card  feature_card">
                    <img src="~/image/price/img3.png" class="card-img-top img-fluid" alt="..." />
                    <h5 class="feature_header">Kitchen</h5>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Dust all accessible surfaces</p>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Empty sink and load up dishwasher </p>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Wipe down exterior of stove, oven and fridge </p>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Clean all floor surfaces </p>
                    <p class="feature_text"><img src="~/image/price/side-arrow.png">Take out garbage and recycling </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /////////////////// WHY WE ////////////////// -->
<section class="why_we">
    <h2 class="text-center">Why Helperland</h2>
    <div class="d-flex justify-content-center star">
        <hr / class="side_hr"> <img src="~/image/price/star.png" />
        <hr / class="side_hr">
    </div>
    <div class="container why_we_container">
        <div class="row why_we_row">
            <div class="col-sm-12 col-md-6 col-lg-4 why_we_column">
                <h5 class="why_we_header1">Experienced and vetted professionals</h5>
                <p class="why_we_text1">dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                <br>
                <h5 class="why_we_header1">Dedicated customer service</h5>
                <p class="why_we_text1">to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 why_we_column"> <img class="certificat img-fluid" src="~/image/price/the-best-img-1.png"> </div>
            <div class="col-sm-12 col-md-6 col-lg-4 why_we_column">
                <h5 class="why_we_header2">Every cleaning is insured</h5>
                <p class="why_we_text2">and seek to provide exceptional service and engage in proactive behaviour. We'd be happy to clean your homes.</p>
                <br>
                <h5 class="why_we_header2">Secure online payment</h5>
                <p class="why_we_text2">Payment is processed securely online. Customers pay safely online and manage the booking</p>
            </div>
        </div>
    </div>
    </div>
    <h3 class="text-center contact"><strong>GET OUR NEWSLETTER</strong></h3>
    <form class="text-center">
        <div class="form-group">
            <input type="email" id="email" class="form-control" placeholder="Your Email" />
            <button type="button" class="btn submitbtn">Submit</button>
        </div>
    </form>
</section>
<!--//////////////////////////////////// Up Arrow/////////////////////////////// -->
<div class="up_arr hidden">
    <a href="#">
        <div class="up_arrow">
            <svg class="uparr_pos" xmlns="http://www.w3.org/2000/svg" width="20" height="10">
                <path fill-rule="evenodd" fill="#F4F5F8" d="M19.802 8.855c.132.129.197.29.197.466a.633.633 0 0 1-.197.466c-.262.653-.689.653-.951 0l-8.365-8.195L2.12 9.787c-.262.653-.689.653-.951 0a.65.65 0 0 1 0-.932L10.1.195c.172.425.599.425.861 0l8.841 8.66z" />
            </svg>
        </div>
    </a>
</div>
<div class="chat">
    <a href="#">
        <div class="chatimg"> <img src="~/image/price/layer-598.png"> </div>
    </a>
</div>

@section script{
    <script src="~/js/price.js"></script>
}
