@model Helperland.Models.ViewModels.setupService;


@{
    Layout = null;
}
<div class="tab-pane fade show active" id="pills-service" role="tabpanel"
     aria-labelledby="pills-service-tab">
    <form id="setupService">
        <div>
            <div class="alert alert-danger  fade show d-none" id="errorAlert" role="alert">
                <strong id="errormsg">
                </strong>
            </div>
        </div>
        <div>
            <span class="question">Enter your Postal Code</span>
        </div>
        <div class="row">
            <div class="col-sm-7 col-md-5">
                <input asp-for="Zipcode" class="form-control" id="postalCode" placeholder="Postal Code" />
            </div>
            <div class="col-sm-5">
                <button type="button" id="PostalCodeBtn" onclick="checkZip()" class="btn custombtn" disabled="disabled">
                    Check Availability
                </button>
            </div>
        </div>
        <span class="text-danger mt-3" id="notAvailablezipError"></span>
    </form>
</div>