@{
    Layout = "~/Views/Shared/_ProDashLayout.cshtml";
}

<div id="BlockCust">
    <div class="modal fade" id="SuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3 id="successText" class="mb-4"></h3>
                    <a asp-controller="Provider" asp-action="BlockCustomer">Ok</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="BlockCustTbl">
                <thead>
                    <tr>
                        <th class="d-none">icon</th>
                        <th class="d-none">name</th>
                        <th class="d-none">button</th>
                    </tr>
                </thead>
                <tbody id="BlockCustTblData">
                    @*<tr>
                            <td><img src="~/image/upcoming_service/cap.png" /></td>
                            <td><span class="BlockCustName">Smit Dabhi</span></td>
                            <td><button class="btn BlockBtn">Block</button></td>
                        </tr>*@

                </tbody>
            </table>
        </div>
    </div>
</div>

@section script{
    <script src="~/js/PBlockCustomer.js"></script>
}