@{
    Layout = "~/Views/Shared/_ProDashLayout.cshtml";
}

<div id="MySetting">
    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab-setting" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-details-tab" data-toggle="pill" href="#pills-details" role="tab" aria-controls="pills-home" aria-selected="true">
                <span class="tab-img"><img src="~/image/service_history/my-account-details.png" /></span>
                <span class="tab-title">My Details</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-password-tab" data-toggle="pill" href="#pills-password" role="tab" aria-controls="pills-contact" aria-selected="false">
                <span class="tab-img"><img src="~/image/service_history/my-account-password.png" /></span>
                <span class="tab-title">Change Password</span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-home-tab">
            <div id="updateDetailsAllert"></div>
            <h3 class="account-status">
                Account Status : <span id="status"></span>
                <img id="avtarPreviewImg" alt="avtar" src="~/image/upcoming_service/cap.png">
            </h3>
            <form>
                <h3 class="title">Basic details</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">
                                First Name
                            </label>
                            <input class="form-control" placeholder="First Name" id="fname" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">
                                Last Name
                            </label>
                            <input class="form-control" placeholder="Last Name" id="lname" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">
                                E-mail address
                            </label>
                            <input class="form-control" placeholder="Email" id="email" disabled />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">
                                Mobile Number
                            </label>
                            <div class="input-group">
                                <span class="input-group-add">+91</span>
                                <input class="form-control" placeholder="Mobile Number" id="mobile" />
                            </div>

                        </div>
                    </div>
                    <div class="col d-flex">
                        <div class="form-group date-group">
                            <label class="control-label">
                                Date of Birth
                            </label>
                            <input class="form-control" type="hidden" id="userDob">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label">
                                Nationality
                            </label>
                            <select class="form-control" id="nationnalityId">
                                <option value="1">
                                    Indian
                                </option>
                                <option value="2">
                                    German
                                </option>
                                <option value="3">
                                    Pakistani
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 GenderRadio">
                        <lable class="control-label">Gender</lable>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" id="Male" name="gender" value="1">
                                    <span class="pointer"></span>
                                    Male
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" id="Female" name="gender" value="2">
                                    <span class="pointer"></span>
                                    Female
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" id="Other" name="gender" value="3">
                                    <span class="pointer"></span>
                                    Rather not to say
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 avtar">
                        <div class="form-group">
                            <label class="control-label">Select Avtar</label>
                            <label class="avtarDiv">
                                <input class="d-none" type="radio" id="car" name="avtar" value="car">
                                <img src="~/image/upcoming_service/car.png" />
                            </label>
                            <label class="avtarDiv">
                                <input class="d-none" type="radio" id="woman" name="avtar" value="woman">
                                <img src="~/image/upcoming_service/woman.png" />
                            </label>
                            <label class="avtarDiv">
                                <input class="d-none" type="radio" id="cap" name="avtar" value="cap">
                                <img src="~/image/upcoming_service/cap.png" />
                            </label>
                            <label class="avtarDiv">
                                <input class="d-none" type="radio" id="iron" name="avtar" value="iron">
                                <img src="~/image/upcoming_service/iron.png" />
                            </label>
                            <label class="avtarDiv">
                                <input class="d-none" type="radio" id="man" name="avtar" value="man">
                                <img src="~/image/upcoming_service/man.png" />
                            </label>
                            <label class="avtarDiv">
                                <input class="d-none" type="radio" id="ship" name="avtar" value="ship">
                                <img src="~/image/upcoming_service/ship.png" />
                            </label>
                        </div>
                    </div>
                    @*<div class="addressesDiv">*@
                    <h3 class="title w-100">My Address</h3>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Street name</label>
                            <input class="form-control" id="EditStreetName" name="StreetName" type="text" placeholder="Street name" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">House number</label>
                            <input class="form-control" id="EditHouseNo" name="HouseNo" type="text" placeholder="House number" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Postal code</label>
                            <input class="form-control" id="EditPostalCode" name="PostalCode" type="text" placeholder="Postal Code" maxlength="6" />
                            <span class="text-danger d-none" id="EditinvalidZipError">Invalid Postal code</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <input class="form-control" id="EditCity" name="CityName" type="text" placeholder="City" disabled />
                            <input class="form-control d-none" id="EditState" name="State" type="text" readonly />
                        </div>
                    </div>
                    <div class="pl-3 w-100">
                        <button class="btn btn-primary" type="button" onclick="updateMyDetails()">Save</button>
                    </div>
                    @*</div>*@
                </div>

            </form>
        </div>
        <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-contact-tab">
            <form>
                <div id="passUpdateAlert">
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">
                            Old Password
                        </label>
                        <input class="form-control" placeholder="Old Password" id="oldPass" type="password" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">
                            New Password
                        </label>
                        <input class="form-control" placeholder="New Password" id="newPass" type="password" />
                    </div>
                    <span class="text-danger" id="passValidationError"></span>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">
                            Confirm Password
                        </label>
                        <input class="form-control" placeholder="Confirm Password" id="confirmPass" type="password" />
                    </div>
                    <span id="confirmPassError" class="text-danger"></span>
                </div>
                <div class="col">
                    <button type="button" class="btn" onclick="updatePassword()" id="updatePassBtn" disabled="disabled">Save</button>
                </div>
            </form>
        </div>
    </div>
    
    </div>

    @section script{
        <script src="~/js/CustomDate.min.js"></script>
        <script src="~/js/PMySetting.js"></script>
    }
