@{
    Layout = "~/Views/Shared/_ProDashLayout.cshtml";
}


<div id="NewService">
    <div>
        <div class="modal fade" id="displaydataModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Service Details</h4>
                        <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                    </div>
                    <div class="modal-body">
                        <div id="SerDetail">
                            <p class="date-time"><span id="SerDate"></span> <span id="SerStartTime"></span>-<span id="SerEndTime"></span></p>
                            <span class="title-text"><b>Duration : </b><span id="SerDuration"></span> Hrs</span>
                            <hr />
                            <span class="title-text"><b>Service Id : </b><span id="SerId"></span></span>
                            <span class="title-text"><b>Extras :  </b><span id="SerExtra"></span></span>
                            <span class="title-text"><b>Net Amout : </b><span id="SerPayment" class="NetAmount"></span></span>
                            <hr />
                            <span class="title-text"><b>Service Address : </b><span id="SerAddress"></span></span>
                            <span class="title-text"><b>Billing Address : </b>Same as cleaning Address</span>
                            <span class="title-text"><b>Phone : </b><span id="SerMobile"></span></span>
                            <span class="title-text"><b>Email : </b><span id="SerEmail"></span></span>
                            <hr />
                            <span class="title-text"><b>Comments : </b><span id="SerComment"></span></span>
                            <span class="title-text"><span id="SerPets"></span></span>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex datatable_heading">
        <div class="py-2">New Service Request</div>
        <div class="py-2" id="havePetFilterDiv"><input type="checkbox" id="havePetFilter" /> &nbsp;Include pet at home</div>
        <div class="py-2 ml-3 mobile_sorting">
            <a href="#" data-toggle="modal" data-target="#mobileSorting" data-dismiss="modal"><img src="~/image/upcoming_service/arrow.svg" alt="sorting-arrow"></a>

        </div>
        <div class="modal fade" id="mobileSorting" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Choose Option</h4>
                        <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                    </div>
                    <div class="modal-body forgot-password">
                        <form>
                            <input type="radio" name="sortOption" id="ServiceIdOldest" value="ServiceId:Oldest">&nbsp;Service Id : Oldest<br>
                            <input type="radio" name="sortOption" id="ServiceIdOldest" value="ServiceId:Latest">&nbsp;Service Id : Latest<br>
                            <input type="radio" name="sortOption" id="ServiceDateOldest" value="ServiceDate:Oldest">&nbsp;Service Date : Oldest<br>
                            <input type="radio" name="sortOption" id="ServiceDateLatest" value="ServiceDate:Latest">&nbsp;Service Date : Latest<br>
                            <input type="radio" name="sortOption" id="ServiceProviderAtoZ" value="ServiceProvider:AtoZ">&nbsp;Service Provider : A to Z<br>
                            <input type="radio" name="sortOption" id="ServiceProvider:ZtoA" value="ServiceProvider:ZtoA">&nbsp;Service Provider : Z to A<br>
                            <input type="radio" name="sortOption" id="PaymentLowtoHigh" value="PaymentLowtoHigh">&nbsp;Payment Low to High<br>
                            <input type="radio" name="sortOption" id="PaymentHightoLow" value="PaymentHightoLow">&nbsp;Payment High to Low<br>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="NewServiceTbl" class="dataTable table">
                <thead>
                    <tr>
                        <th>Service ID</th>
                        <th>Service date</th>
                        <th class="text-center">Customer detail</th>
                        <th class="text-center">Payment</th>
                        <th class="text-center">Time conflict</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="NewServiceTblData">
                    @*<tr>
                            <td>8453</td>
                            <td>
                                <span class="date"><img src="~/image/upcoming_service/calendar.webp"> 09/04/2018</span>
                                <span><img src="~/image/upcoming_service/layer-14.png"> 12:00 - 18:00</span>
                            </td>
                            <td>
                                <div class="custDetails">
                                <div><img src="~/image/upcoming_service/home.png" /></div>
                                <div class="custInfo">
                                    <span>Gaurang Patel</span>
                                    <span>11 Gurunagar</span>
                                    <span>364001 Bhavnagar</span>
                                </div>
                                </div>
                            </td>
                            <td class="text-center">
                                56 Rs.
                            </td>
                            <td></td>
                            <td class="text-center">
                                <input type="button" class="AcceptBtn" value="Accept" />
                            </td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>


@section script{
    <script src="~/js/PNewService.js"></script>
}