@{
    Layout = "~/Views/Shared/_ProDashLayout.cshtml";
}



<div id="ServiceHistory">
    <div>
        <div class="modal fade" id="displaydataModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered"">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Service Details</h4>
                        <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                    </div>
                    <div class="modal-body">
                        <div id="SerDetail">
                            <p class="date-time"><span id="SerDate"></span> <span id="SerStartTime"></span>-<span id="SerEndTime"></span></p>
                            <span class="title-text"><b>Duration : </b><span id="SerDuration"></span> Hrs</span>
                            <hr />
                            <span class="title-text"><b>Service Id : </b><span id="SerId"></span></span>
                            <span class="title-text"><b>Extras :  </b><span id="SerExtra"></span></span>
                            <span class="title-text"><b>Net Amout : </b><span id="SerPayment" class="NetAmount"></span></span>
                            <hr />
                            <span class="title-text"><b>Service Address : </b><span id="SerAddress"></span></span>
                            <span class="title-text"><b>Billing Address : </b>Same as cleaning Address</span>
                            <span class="title-text"><b>Name : </b><span id="SerCustName"></span></span>
                            <span class="title-text"><b>Phone : </b><span id="SerMobile"></span></span>
                            <span class="title-text"><b>Email : </b><span id="SerEmail"></span></span>
                            <hr />
                            <span class="title-text"><b>Comments : </b><span id="SerComment"></span></span>
                            <span class="title-text"><span id="SerPets"></span></span>
                            <hr />
                        </div>
                        <div>
                            <div id='CustMap'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex datatable_heading">
        <div class="py-2">Service History</div>
        <div class="py-2 ml-3 mobile_sorting">
            <a href="#" data-toggle="modal" data-target="#mobileSorting" data-dismiss="modal"><img src="~/image/upcoming_service/arrow.svg" alt="sorting-arrow"></a>

        </div>
        <div class="modal fade" id="mobileSorting" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Choose Option</h4>
                        <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                    </div>
                    <div class="modal-body forgot-password">
                        <form>
                            <input type="radio" name="sortOption" id="ServiceIdOldest" value="ServiceId:Oldest">&nbsp;Service Id : Oldest<br>
                            <input type="radio" name="sortOption" id="ServiceIdOldest" value="ServiceId:Latest">&nbsp;Service Id : Latest<br>
                            <input type="radio" name="sortOption" id="ServiceDateOldest" value="ServiceDate:Oldest">&nbsp;Service Date : Oldest<br>
                            <input type="radio" name="sortOption" id="ServiceDateLatest" value="ServiceDate:Latest">&nbsp;Service Date : Latest<br>
                            <input type="radio" name="sortOption" id="CustomerDetailsAtoZ" value="CustomerDetails:AtoZ">&nbsp;Customer Details : A to Z<br>
                            <input type="radio" name="sortOption" id="CustomerDetailsZtoA" value="CustomerDetails:ZtoA">&nbsp;Customer Details : Z to A<br>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="ml-auto py-2"><button onclick="ExcelSheetDown()">Export</button></div>
    </div>
    <div class="row">
        <div class="col">
            <table id="ServiceHistoryTbl" class="dataTable table">
                <thead>
                    <tr>
                        <th>Service ID</th>
                        <th class="text-center">Service date</th>
                        <th class="text-center">Customer detail</th>
                    </tr>
                </thead>
                <tbody id="ServiceHistoryTblData">
                </tbody>
            </table>
        </div>
    </div>
</div>






@section script{
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.2/xlsx.full.min.js"></script>
    <script src="~/js/PServiceHistory.js"></script>
}