@{
    Layout = "~/Views/Shared/_ProDashLayout.cshtml";
}

<div>
    <div class="row">
        <div class="col">
            <table id="upcomingService" class="dataTable table">
                <thead>
                    <tr>
                        <th>Service ID</th>
                        <th>Service date</th>
                        <th>Customer detail</th>
                        <th>Payment</th>
                        <th>Distance </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>323436</td>
                        <td>
                            <p class="date"><img src="~/image/upcoming_service/calendar.webp"> 09/04/2018</p>
                            <p><img src="~/image/upcoming_service/layer-14.png"> 12:00-18:00</p>
                        </td>
                        <td>
                            <p>David Bough</p>
                            <p><img src="~/image/upcoming_service/home.png"> Musterstrabe 5,12345 Bonn</p>
                        </td>
                        <td>25 Rs.</td>
                        <td>15 km</td>
                        <td>
                            <input class="cancelbtn" type="button" value="Cancel">
                        </td>
                    </tr>
                    <tr>
                        <td>323437</td>
                        <td>
                            <p class="date"><img src="~/image/upcoming_service/calendar.webp"> 03/04/2018</p>
                            <p><img src="~/image/upcoming_service/layer-14.png"> 12:00 - 18:00</p>
                        </td>
                        <td>
                            <p>David Bough</p>
                            <p><img src="~/image/upcoming_service/home.png"> Musterstrabe 5,12345 Bonn</p>
                        </td>
                        <td>25 Rs.</td>
                        <td>10 km</td>
                        <td>
                            <input class="cancelbtn" type="button" value="Cancel">
                        </td>
                    </tr>
                    <tr>
                        <td>323438</td>
                        <td>
                            <p class="date"><img src="~/image/upcoming_service/calendar.webp"> 09/04/2018</p>
                            <p><img src="~/image/upcoming_service/layer-14.png"> 12:00 - 18:00</p>
                        </td>
                        <td>
                            <p>David Bugh</p>
                            <p><img src="~/image/upcoming_service/home.png"> Musterstrabe 5,12345 Bonn</p>
                        </td>
                        <td>25 Rs.</td>
                        <td>15 km</td>
                        <td>
                            <input class="cancelbtn" type="button" value="Cancel">
                        </td>
                    </tr>
                    <tr>
                        <td>323439</td>
                        <td>
                            <p class="date"><img src="~/image/upcoming_service/calendar.webp"> 02/04/2018</p>
                            <p><img src="~/image/upcoming_service/layer-14.png"> 12:00 - 18:00</p>
                        </td>
                        <td>
                            <p>David Bough</p>
                            <p><img src="~/image/upcoming_service/home.png"> Musterstrabe 5,12345 Bonn</p>
                        </td>
                        <td>10 Rs.</td>
                        <td>15 km</td>
                        <td>
                            <input class="cancelbtn" type="button" value="Cancel">
                        </td>
                    </tr>
                    <tr>
                        <td>323445</td>
                        <td>
                            <p class="date"><img src="~/image/upcoming_service/calendar.webp"> 09/04/2018</p>
                            <p><img src="~/image/upcoming_service/layer-14.png"> 12:00 - 18:00</p>
                        </td>
                        <td>
                            <p>David Bough</p>
                            <p><img src="~/image/upcoming_service/home.png"> Musterstrabe 5,12345 Bonn</p>
                        </td>
                        <td>25 Rs.</td>
                        <td>05 km</td>
                        <td>
                            <input class="cancelbtn" type="button" value="Cancel">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section script{
    <script src="~/js/PUpcomingService.js"></script>
}