@{
    Layout = "~/Views/Shared/_ProDashLayout.cshtml";
}

<div id="UpcomingSer">
    <div class="modal fade" id="displaydataModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Service Details</h4>
                    <a class="close" data-dismiss="modal"><img src="~/image/home/window-close-regular.svg" alt="closebtn"></a>
                </div>
                <div class="modal-body">
                    <div id="SerDetail">
                        <p class="date-time"><span id="SerDate"></span> <span id="SerStartTime"></span>-<span id="SerEndTime"></span></p>
                        <span class="title-text"><b>Duration : </b><span id="SerDuration"></span> Hrs</span>
                        <hr />
                        <span class="title-text"><b>Service Id : </b><span id="SerId"></span></span>
                        <span class="title-text"><b>Extras :  </b><span id="SerExtra"></span></span>
                        <span class="title-text"><b>Net Amout : </b><span id="SerPayment" class="NetAmount"></span></span>
                        <hr />
                        <span class="title-text"><b>Service Address : </b><span id="SerAddress"></span></span>
                        <span class="title-text"><b>Billing Address : </b>Same as cleaning Address</span>
                        <span class="title-text"><b>Phone : </b><span id="SerMobile"></span></span>
                        <span class="title-text"><b>Email : </b><span id="SerEmail"></span></span>
                        <hr />
                        <span class="title-text"><b>Comments : </b><span id="SerComment"></span></span>
                        <span class="title-text"><span id="SerPets"></span></span>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="upcomingService" class="dataTable table">
                <thead>
                    <tr>
                        <th>Service ID</th>
                        <th>Service date</th>
                        <th class="text-center">Customer detail</th>
                        <th class="text-center">Payment</th>
                        <th class="text-center">Distance </th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="UpcomingServiceTblData">
                    @*<tr>
                            <td>323436</td>
                            <td>
                                <p class="date"><img src="~/image/upcoming_service/calendar.webp"> 09/04/2018</p>
                                <p><img src="~/image/upcoming_service/layer-14.png"> 12:00-18:00</p>
                            </td>
                            <td>
                                <p>David Bough</p>
                                <p><img src="~/image/upcoming_service/home.png"> Musterstrabe 5,12345 Bonn</p>
                            </td>
                            <td>25 Rs.</td>
                            <td>15 km</td>
                            <td>
                                <input class="cancelbtn" type="button" value="Cancel">
                            </td>
                        </tr>*@

                </tbody>
            </table>
        </div>
    </div>
</div>


@section script{
    <script src="~/js/PUpcomingService.js"></script>
}